<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ande.buyb2c.receiptAddress.dao.ReceiptAddressMapper" >
  <resultMap id="BaseResultMap" type="com.ande.buyb2c.receiptAddress.entity.ReceiptAddress" >
    <id column="receipt_address_id" property="receiptAddressId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="county_id" property="countyId" jdbcType="INTEGER" />
    <result column="county_name" property="countyName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="default_address" property="defaultAddress" jdbcType="CHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    receipt_address_id, province_id, province_name, city_id, city_name, county_id, county_name, 
    name, phone, address, default_address, customer_id, create_time, update_time
  </sql>
  <select id="getAddress" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from  t_receipt_address
  	<choose>
  		<when test="customerId!=null">
  			where customer_id=#{customerId}
		  	order by create_time desc
		  	limit 1
  		</when>
  		<otherwise>
  			where receipt_address_id=#{receiptAddressId}
  		</otherwise>
  	</choose>
  </select>
  <select id="getAllBySelect" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from t_receipt_address
    where customer_id=#{customerId}
    order by create_time desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_receipt_address
    where receipt_address_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_receipt_address
    where receipt_address_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ande.buyb2c.receiptAddress.entity.ReceiptAddress" >
    insert into t_receipt_address (receipt_address_id, province_id, province_name, 
      city_id, city_name, county_id, 
      county_name, name, phone, 
      address, default_address, customer_id, 
      create_time, update_time)
    values (#{receiptAddressId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, #{countyId,jdbcType=INTEGER}, 
      #{countyName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{defaultAddress,jdbcType=CHAR}, #{customerId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ande.buyb2c.receiptAddress.entity.ReceiptAddress" >
    insert into t_receipt_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="receiptAddressId != null" >
        receipt_address_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="countyId != null" >
        county_id,
      </if>
      <if test="countyName != null" >
        county_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="defaultAddress != null" >
        default_address,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="receiptAddressId != null" >
        #{receiptAddressId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null" >
        #{countyId,jdbcType=INTEGER},
      </if>
      <if test="countyName != null" >
        #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="defaultAddress != null" >
        #{defaultAddress,jdbcType=CHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ande.buyb2c.receiptAddress.entity.ReceiptAddress" >
    update t_receipt_address
    <set >
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=INTEGER},
      </if>
      <if test="countyName != null" >
        county_name = #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="defaultAddress != null" >
        default_address = #{defaultAddress,jdbcType=CHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where receipt_address_id = #{receiptAddressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ande.buyb2c.receiptAddress.entity.ReceiptAddress" >
    update t_receipt_address
    set province_id = #{provinceId,jdbcType=INTEGER},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      county_id = #{countyId,jdbcType=INTEGER},
      county_name = #{countyName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      default_address = #{defaultAddress,jdbcType=CHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where receipt_address_id = #{receiptAddressId,jdbcType=INTEGER}
  </update>
</mapper>