<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../commonHead.html %>
    <title>我要批</title>
    <link rel="stylesheet" type="text/css" href="/css/wholesale/list.css?v20161229">
</head>
<body style="padding-top: 0;">
    <div class="list-wrap">
        <% if(goodsList.length > 0) { %>
        <div class="category-wrap" style="display: block;">
            <ul id="topList" class="list">
                <% for(var i=0; i<goodsList.length; i++) { %>
                <% if(i%2==0) { %>
                    <li>
                <% } %>
                        <a href="/openapi/h5/b/wholesale/detail?goods_id=<%=goodsList[i].goods_id %>" class="box">
                            <img src="<%=goodsList[i].picUrlArr[0] %>" />
                            <div class="txt-wrap">
                                <h3 class="tit"><%=goodsList[i].title %></h3>
                                <% if(goodsList[i].supplier) { %>
                                <p><%=goodsList[i].supplier %></p>
                                <% } else { %>
                                <p>配送范围：<%=goodsList[i].delivery_desc %></p>
                                <% } %>
                                <p>起订：<%=goodsList[i].min_buy_qty %>&nbsp;&nbsp;库存：<%=goodsList[i].sale_qty %></p>
                                <p>规格：<%=goodsList[i].specification %><%if(goodsList[i].max_buy_qty && goodsList[i].max_buy_qty!=0){%>&nbsp;&nbsp;限购：<%=goodsList[i].max_buy_qty %><%}%></p>
                                <p>建议零售价：¥<%=goodsList[i].market_price %></p>
                                <p class="price">¥<em><%=goodsList[i].discount_price %></em></p>
                            </div>
                            <% if(goodsList[i].sale_qty <= 0) { %>
                            <div class="soldout-wrap">
                                <img src="/image/common/soldout.png" />
                            </div>
                            <% } %>
                        </a>
                <% if(i%2!=0) { %>
                    </li>
                <% } %>
                <% } %>
            </ul>
        </div>
        <% } else { %>
        <p class="no-result">没有搜索到相关商品</p>
        <% } %>
    </div>
</body>
</html>