<!DOCTYPE html>
<html style="background:none;padding-bottom:0;">

<head>
	<% include ../../commonHead.html %>
	<title>秒杀专区</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
</head>
<link rel="stylesheet" type="text/css" href="/css/beike_activde_style.css" />

<body id="active_d_bac">
	<div class="ticket_con ticket_conyy">
		<a href="javascript:void(0);" onclick="" class="grab">
			<img src="/image/activity/beike_active/grab_img5.jpg" width="100%">
		</a>
	</div>
	<div class="goodslist">
		<div class="good" onclick="gotoshopdetail('406')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/1.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">蓝月亮深层洁净护理洗衣液 2kg装 清雅丁香</div>
				<div class="twz2">深层洁净技术，有效去除油污，全面提亮衣色</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">33</span><span
									class="bk">+10贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥43</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('427')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/2.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">汰渍全效360护色洁净洗衣液2000g/瓶</div>
				<div class="twz2">去渍无强留 衣服更洁净</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">30</span><span
									class="bk">+9贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥39</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('2024')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/3.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">云南白药 牙膏 留兰香型 清新口气 120g 单支装</div>
				<div class="twz2">减轻牙龈出血 祛除口腔异味 缓解口腔问题</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">24</span><span
									class="bk">+7贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥31</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('2329')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/4.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">塔铁生物酶拖地水525ml</div>
				<div class="twz2">天然的生物催化剂 安心体验</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">24</span><span
									class="bk">+31贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥55</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('2332')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/5.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">塔铁生物酶去油剂330ml/500ml</div>
				<div class="twz2">洗净厨房重油污 健康生活 从厨房开始</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">24</span><span
									class="bk">+31贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥55</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('2027')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/6.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">好易康 2号减轻口腔异味牙膏 120g 单支装</div>
				<div class="twz2">清新口气 美白牙齿 去异味 去牙渍渍</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">23</span><span
									class="bk">+5贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥28</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('420')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/7.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">蓝色月光白色衣物色渍净600g/瓶</div>
				<div class="twz2">专门解决衣领发黄，衣物色斑等问题</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">15</span><span
									class="bk">+3贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥18</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('2035')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/8.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">云南白药金口健牙膏柠檬薄荷香型 105g</div>
				<div class="twz2">专属口腔益生菌CPT，平衡口腔菌群，保持口气清新</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">15</span><span
									class="bk">+3贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥18</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('395')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/9.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">蓝月亮84消毒液 1.2kg装</div>
				<div class="twz2">杀菌率99.99%，可用于去除瓜果蔬菜农药残余</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">13</span><span
									class="bk">+4贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥17</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('422')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/10.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">蓝色月光彩色衣物色渍净600g/瓶</div>
				<div class="twz2">专业去渍净 解决衣物色斑等问题</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">10</span><span
									class="bk">+3贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥13</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('611')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/11.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">LG竹盐白皙光感牙膏单支装120g</div>
				<div class="twz2">清洁口腔环境 减少舌苔厚积清新口气</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">10</span><span
									class="bk">+2贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥12</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
		<div class="good" onclick="gotoshopdetail('2048')">
			<div class="good-img">
				<img src="/image/activity/beike_active/miaosha/12.png" />
			</div>
			<div class="good-wz">
				<div class="twz1">prolis普瑞丽卡通儿童音乐电动牙刷 去除牙菌清洁口腔</div>
				<div class="twz2">去除牙菌呵护牙龈 IPX7级防水 适合2岁~12岁儿童使用</div>
				<div class="twz3">
					<div class="money">
						<div class="moneyss">
							<div class="mon1">
								<div style="text-align:justify;">会<span style="color:#fff;">员</span>员</div>
								<div>秒杀价</div>
							</div>
							<div class="mon2"><span class="fh">￥</span><span class="num">53</span><span
									class="bk">+30贝壳</span><span class="gg">|</span></div>
							<div class="mon3">￥83</div>
						</div>
						<div class="btn">立即抢购</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function gotosumit(method, obj) {
			if (window.jsObj) {  // Android
				// 传递分享数据
				if (window.jsObj[method]) {
					window.jsObj[method](JSON.stringify(obj));
				}
			} else {    // IOS
				setupWebViewJavascriptBridge(function (bridge) {
					// 传递分享数据
					bridge.callHandler(method, obj);
				});
			}
		}

		function gotoshopdetail(goods_id) {
			gotosumit("gotoshopdetail", { "goods_id": goods_id })
		}
	</script>
</body>

</html>