<!DOCTYPE html>
<html>
  <head>
    <% include ../../commonHead.html %>
    <title>新人专属</title>
    <style>
      .up {
          width:10rem;
      }
       
    </style>
  </head>
  <body>
    <div id="app">
        <img class="up" src="/image/activity/invoic/invoicup.png"></img>
        <div class="down"></div>
       
        
      
      </div>
  
  </body>
  <script>
      var app = new Vue({
             el: '#app',
             data:function(){
                return {
                
               };
            },
            methods:{
              
             },
            mounted:function(){

           }
  });
  
  </script>
</html>
