<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ande.buyb2c.logistics.dao.LogisticsMapper" >
  <resultMap id="BaseResultMap" type="com.ande.buyb2c.logistics.entity.Logistics" >
    <id column="logistics_id" property="logisticsId" jdbcType="INTEGER" />
    <result column="logistics_name" property="logisticsName" jdbcType="VARCHAR" />
    <result column="logistics_cost" property="logisticsCost" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_state" property="delState" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    logistics_id, logistics_name, logistics_cost, 
    status, create_time, update_time,del_state
  </sql>
  <select id="getPage" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_logistics
    where del_state=2
    <if test="logisticsName!=null and logisticsName!=''">
   	 and logistics_name = #{logisticsName,jdbcType=VARCHAR}  
    </if>
    order by create_time desc
    </select>
    <select id="getPageFront" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_logistics
    where  del_state=2 and status=1
    <if test="logisticsName!=null and logisticsName!=''">
    	and logistics_name = #{logisticsName,jdbcType=VARCHAR} 
    </if>
    order by create_time desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_logistics
    where logistics_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_logistics
    where logistics_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.ande.buyb2c.logistics.entity.Logistics" >
    insert into t_logistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logisticsId != null" >
        logistics_id,
      </if>
      <if test="logisticsName != null" >
        logistics_name,
      </if>
      <if test="logisticsCost != null" >
        logistics_cost,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
       <if test="adminId != null" >
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logisticsId != null" >
        #{logisticsId,jdbcType=INTEGER},
      </if>
      <if test="logisticsName != null" >
        #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCost != null" >
        #{logisticsCost,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ande.buyb2c.logistics.entity.Logistics" >
    update t_logistics
    <set >
      <if test="logisticsName != null" >
        logistics_name = #{logisticsName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCost != null" >
        logistics_cost = #{logisticsCost,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="delState != null" >
        del_state = #{delState,jdbcType=VARCHAR},
      </if>
    </set>
    where logistics_id = #{logisticsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ande.buyb2c.logistics.entity.Logistics" >
    update t_logistics
    set logistics_name = #{logisticsName,jdbcType=VARCHAR},
      logistics_cost = #{logisticsCost,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where logistics_id = #{logisticsId,jdbcType=INTEGER}
  </update>
</mapper>