<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.order.street.generator.id.worker.dao.OdBizIdDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.meitianhui.order.street.generator.id.worker.entity.OdBizId">
        <id column="biz_tag" property="bizTag" jdbcType="VARCHAR"/>
        <result column="max_id" property="maxId" jdbcType="BIGINT"/>
        <result column="step" property="step" jdbcType="INTEGER"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        biz_tag, max_id, step, `desc`, update_time
    </sql>

    <insert id="insertSelective" parameterType="com.meitianhui.order.street.generator.id.worker.entity.OdBizId">
        insert into od_biz_id
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizTag != null">
                biz_tag,
            </if>
            <if test="step != null">
                step,
            </if>
            <if test="maxId != null">
                max_id,
            </if>
            <if test="desc != null and desc != ''">
                `desc`,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bizTag != null">
                #{bizTag,jdbcType=VARCHAR},
            </if>
            <if test="step != null">
                #{step,jdbcType=INTEGER},
            </if>
            <if test="maxId != null">
                #{maxId,jdbcType=BIGINT},
            </if>
            <if test="desc != null and desc != ''">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <!-- 根据主键修改 -->
    <update id="updateByPrimaryKeySelective"
            parameterType="com.meitianhui.order.street.generator.id.worker.entity.OdBizId">
        UPDATE od_biz_id
        <set>
            <if test="step != null">
                step = #{step,jdbcType=INTEGER},
            </if>
            <if test="maxId != null">
                max_id = #{maxId,jdbcType=BIGINT},
            </if>
            <if test="desc != null and desc != ''">
                `desc` = #{desc,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=DATE},
            </if>
        </set>
        where biz_tag=#{bizTag,jdbcType=VARCHAR}
    </update>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from od_biz_id
        where biz_tag = #{bizTag,jdbcType=VARCHAR} for update
    </select>

</mapper>		


