body {
    background-color: #f3f6f5;
    font-weight: 300;
    padding-bottom: 1.333333rem;
}
.banner {
    width: 10rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.banner img {
    width: 100%;
}
.swipe {
    overflow: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.swipe-wrap .left-days {
    color: #fff;
    font-size: 1.146667rem;
    line-height: 1.146667rem;
    font-weight: bold;
    width: 1.6rem;
    top: 1.066667rem;
    right: 1.266667rem;
    position: absolute;
    display: block;
    text-align: center;
}
nav {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0.133333rem;
}
#position li {
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    margin: 0 0.04rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e5e5e5;
}
#position li.on {
    background-color: #ff0000;
}
.visible {
    display: block !important;
}
/* 一行排两个商品 */
.goods-list-double {
    width: 10rem;
    margin: 0 auto;
    overflow: hidden;
}
.goods-list-double .goods {
    display: block;
    text-align: center;
    background-color: #fff;
    width: 4.44rem;
    padding: 0.24rem;
    position: relative;
    margin-bottom: 0.16rem;
    overflow: hidden;
    float: left;
}
.goods-list-double .goods:nth-child(odd) {
    margin-right: 0.08rem;
}
.goods-list-double .goods:nth-child(even) {
    margin-left: 0.08rem;
}
.goods-list-double .goods a {
    display: block;
    overflow: hidden;
}
.goods-list-double .goods .goods-pic {
    width: 4.44rem;
    height: 4.44rem;
}
.goods-list-double .goods .freshman {
    width: 1.44rem;
    height: 1.44rem;
    display: block;
    position: absolute;
    top: 3.24rem;
    right: 0.24rem;
    background: url(/image/common/freshman.png) right bottom no-repeat;
    background-size: 1.44rem 1.44rem;
}
.goods-list-double .goods .fivetwozero {
    width: 1.333333rem;
    height: 1.333333rem;
    display: block;
    position: absolute;
    top: 0.24rem;
    left: 0.24rem;
    background: url(/image/common/520.png) left top no-repeat;
    background-size: 1.066667rem 1.066667rem;
    z-index: 2;
}
.goods-list-double .goods .un-collect {
    width: 1.066667rem;
    height: 1.066667rem;
    display: block;
    position: absolute;
    top: 0.24rem;
    right: 0.24rem;
    background: url(/image/payback/un-collect.png?v3) right top no-repeat;
    background-size: 0.72rem 0.733333rem;
    z-index: 2;
}
.goods-list-double .goods .saletime-wrap {
    width: 4.44rem;
    height: 4.44rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0.266667rem;
    left: 0.24rem;
}
.goods-list-double .goods .saletime {
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    position: absolute;
    left: 1.0rem;
    top: 1.0rem;
    color: #fff;
    background-color: rgba(255, 91, 64, 0.8);
    border-radius: 50%
}
.goods-list-double .goods .saletime .date {
    font-size: 0.373333rem;
    padding-top: 0.466667rem;
}
.goods-list-double .goods .saletime .time {
    font-size: 0.48rem;
    padding-top: 0.133333rem;
}
.goods-list-double .goods .saletime .text {
    font-size: 0.426667rem;
    padding-top: 0.133333rem;
}
.goods-list-double .goods .txt-wrap {
    text-align: left;
    padding: 0.4rem 0 0.32rem 0;
    color: #999999;
    overflow: hidden;
}
.goods-list-double .goods .txt-wrap .tit {
    color: #333333;
    padding-bottom: 0.2rem;
    padding-right: 1.0rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 0.426667rem;
}
.goods-list-double .goods .txt-wrap .tit .tag {
    display: inline-block;
    padding: 0 0.106667rem;
    border-radius: 0.066667rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 0.426667rem;
    line-height: 0.426667rem;
    font-size: 0.266667rem;
}
[data-dpr="1"] .goods-list-double .goods .txt-wrap .tit .tag {
    line-height: 0.48rem;
}
.goods-list-double .goods .txt-wrap .tit .zy {
    background-color: #6441a5;
}
.goods-list-double .goods .txt-wrap .tit .tb {
    background-color: #ff4400;
}
.goods-list-double .goods .txt-wrap .tit .jsl {
  background-color: #e1f2f8;
}
.goods-list-double .goods .txt-wrap .price {
    color: #333;
    font-size: 0.32rem;
    font-weight: normal;
    padding-top: 0.133333rem;
}
.goods-list-double .goods .txt-wrap .price em {
    color: #ff4242;
    font-size: 0.48rem;
}
.goods-list-double .goods .txt-wrap .price em i {
    font-size: 0.373333rem;
    margin: 0 0.08rem;
}
.goods-list-double .goods .soldout-wrap {
    position: absolute;
    left: 0.24rem;
    top: 0.24rem;
    width: 4.44rem;
    height: 4.44rem;
    text-align: center;
    background: rgba(0,0,0,0.3);
}
.goods-list-double .goods .soldout-wrap img {
    width: 2.293333rem;
    height: 2.293333rem;
    margin-top: 1.053333rem;
}
/* 一行排一个商品 */
.goods-list-single {
    width: 10rem;
    overflow: hidden;
    margin: 0 auto;
}
.goods-list-single .goods {
    display: block;
    width: 9.52rem;
    padding: 0 0.24rem;
    background: #fff;
    margin-bottom: 0.133333rem;
    overflow: hidden;
}
.goods-list-single .goods a {
    display: block;
}
.goods-list-single .goods .left-box {
    width: 3.333333rem;
    height: 3.333333rem;
    box-shadow: 2px 0 0 0 #f3f6f5;
    float: left;
    position: relative;
}
[data-dpr="1"] .goods-list-single .goods .left-box {
    box-shadow: 1px 0 0 0 #f3f6f5;
}
[data-dpr="3"] .goods-list-single .goods .left-box {
    box-shadow: 3px 0 0 0 #f3f6f5;
}
.goods-list-single .goods .left-box .freshman {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(/image/common/freshman.png) right bottom no-repeat;
    background-size: 1.2rem 1.2rem;
}
.goods-list-single .goods .left-box .fivetwozero {
    width: 1.333333rem;
    height: 1.333333rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/image/common/520.png) left top no-repeat;
    background-size: 0.8rem 0.8rem;
}
.goods-list-single .goods .left-box .saletime-wrap {
    width: 3.333333rem;
    height: 3.333333rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.goods-list-single .goods .left-box .saletime {
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    position: absolute;
    left: 0.466667rem;
    top: 0.466667rem;
    color: #fff;
    background-color: rgba(255, 91, 64, 0.8);
    border-radius: 50%
}

.goods-list-single .goods .left-box .saletime-wrap .beaboutto {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 0.466667rem;
    top: 0.466667rem;
}
.goods-list-single .goods .left-box .saletime .date {
    font-size: 0.373333rem;
    padding-top: 0.466667rem;
}
.goods-list-single .goods .left-box .saletime .time {
    font-size: 0.48rem;
    padding-top: 0.133333rem;
}
.goods-list-single .goods .left-box .saletime .text {
    font-size: 0.426667rem;
    padding-top: 0.133333rem;
}
.goods-list-single .goods .left-box .soldout-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 3.333333rem;
    height: 3.333333rem;
    text-align: center;
    background: rgba(0,0,0,0.3);
}
.goods-list-single .goods .left-box .soldout-wrap img {
    width: 2.0rem;
    height: 2.0rem;
    margin-top: 0.666667rem;
}
.goods-list-single .goods .left-box .goods-pic {
    width: 3.333333rem;
    height: 3.333333rem;
}
.goods-list-single .goods .right-box {
    width: 5.76rem;
    height: 3.333333rem;
    margin-left: 0.373333rem;
    float: left;
    position: relative;
}
.goods-list-single .goods .right-box .tit {
    font-size: 0.426667rem;
    line-height: 0.506667rem;
    height: 1.013333rem;
    color: #333;
    margin-top: 0.506667rem;
    text-indent: 0.933333rem;
    overflow: hidden;
    position: relative;
}
.goods-list-single .goods .right-box .tit .tag {
    display: inline-block;
    padding: 0 0.05rem;
    margin-right: 0.066667rem;
    border-radius: 0.066667rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0.04rem;
    left: 0;
    height: 0.426667rem;
    line-height: 0.426667rem;
    font-size: 0.266667rem;
    text-indent: 0;
}
[data-dpr="1"] .goods-list-single .goods .right-box .tit .tag {
    line-height: 0.48rem;
    top: 0;
}
.goods-list-single .goods .right-box .tit .zy {
    background-color: #6441a5;
}
.goods-list-single .goods .right-box .tit .tb {
    /*background-color: #ff4400;*/
    background-color: #f7e6d8;
    color: #eb4e01;
    border-radius: 2px;
}
.goods-list-single .goods .right-box .tit .jsl {
  /*background-color: #4ec0e8;*/
  background-color: #daeaf6;
    color: #028dc1;
}
.goods-list-single .goods .right-box .price-wrap {
    margin-top: 0.266667rem;
}
.goods-list-single .goods .right-box .price-wrap .final-price {
    color: #333;
    font-size: 0.32rem;
    font-weight: normal;
}
.goods-list-single .goods .right-box .price-wrap .final-price em {
    color: #ff4242;
    font-size: 0.48rem;
}
.goods-list-single .goods .right-box .price-wrap .final-price em i {
    font-size: 0.373333rem;
    margin: 0 0.066667rem;
}
.goods-list-single .goods .right-box .price-wrap .other-price {
    margin-top: 0.24rem;
    color: #666;
    font-size: 0.32rem;
}
.goods-list-single .goods .right-box .price-wrap .other-price .original-price {
    margin-right: 0.32rem;
}
.more-recommend-bar {
    width: 10rem;
    height: 1.066667rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.more-recommend-bar:before {
    content: " ";
    display: block;
    width: 1.173333rem;
    height: 1px;
    background: #aaaaaa;
    position: absolute;
    top: 0.52rem;
    left: 2.4rem;
}
[data-dpr="1"] .more-recommend-bar:before {
    height: 1px;
}
[data-dpr="3"] .more-recommend-bar:before {
    height: 3px;
}
.more-recommend-bar:after {
    content: " ";
    display: block;
    width: 1.173333rem;
    height: 1px;
    background: #aaaaaa;
    position: absolute;
    top: 0.52rem;
    right: 2.4rem;
}
[data-dpr="1"] .more-recommend-bar:after {
    height: 1px;
}
[data-dpr="3"] .more-recommend-bar:after {
    height: 3px;
}
.more-recommend-bar .mid-txt {
    display: inline-block;
    height: 1.066667rem;
    line-height: 1.066667rem;
    text-indent: 0.48rem;
    background: url(/image/payback/fire.png) no-repeat left 0.293333rem;
    background-size: 0.306667rem 0.4rem;
}
/* 无记录 */
.no-record {
    margin-top: 2rem;
    text-align: center;
}
.no-record p {
    color: #666;
    font-size: 0.373333rem;
    line-height: 0.426667rem;
    padding-top: 0.373333rem;
}
.no-record img {
    width: 3.76rem;
}
.loading {
    color: #999;
    font-size: 0.32rem;
    line-height: 1.013333rem;
    text-align: center;
}
/* 分类选择面板 */
.category-panel-wrap {
    width: 10.0rem;
    height: 100%;
    position: fixed;
    left: 50%;
    bottom: 1.333333rem;
    margin-left: -5rem;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.category-panel {
    width: 9.52rem;
    height: 5.666667rem;
    padding: 0.6rem 0.24rem 0 0.24rem;
    background: #fff;
    position: fixed;
    left: 50%;
    margin-left: -5rem;
    bottom: 1.306667rem;
}
.category-panel .category {
    float: left;
    display: inline-block;
    width: 33.33%;
    padding-top: 1.466667rem;
    margin-bottom: 0.6rem;
    text-align: center;
    position: relative;
}
.category-panel .category .name {
    display: inline-block;
    color: #333;
    font-size: 0.4rem;
    font-weight: normal;
    padding: 0.16rem 0.266667rem;
    border-radius: 10000px;
    border: 2px solid #c5c5c5;
    background: rgba(255, 255, 255, 0.7);
}
[data-dpr="1"] .category-panel .category .name {
    border: 1px solid #c5c5c5;
}
[data-dpr="3"] .category-panel .category .name {
    border: 3px solid #c5c5c5;
}
.category-panel .category.ryjj {
    background: url(/image/payback/category-bg/ryjj.png) no-repeat center 0.213333rem;
    background-size: 1.626667rem 1.8rem;
}
.category-panel .category.smjd {
    background: url(/image/payback/category-bg/smjd.png) no-repeat center 0.32rem;
    background-size: 1.773333rem 1.773333rem;
}
.category-panel .category.myyp {
    background: url(/image/payback/category-bg/myyp.png) no-repeat center 0.32rem;
    background-size: 1.8rem 1.746667rem;
}
.category-panel .category.fsxb {
    background: url(/image/payback/category-bg/fsxb.png) no-repeat center 0.32rem;
    background-size: 1.813333rem 1.733333rem;
}
.category-panel .category.spsx {
    background: url(/image/payback/category-bg/spsx.png) no-repeat center 0.16rem;
    background-size: 2.306667rem 2.306667rem;
}
.category-panel .category.xrzx {
    background: url(/image/payback/category-bg/xrzx.png) no-repeat center 0.16rem;
    background-size: 2.213333rem 2.173333rem;
}

/* 底部tabbar */
.menu-bar {
    width: 10rem;
    height: 1.333333rem;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -5rem;
    background: #fff;
    box-shadow: 0 -0.04rem 0.08rem rgba(0,0,0,0.05);
    z-index: 9999;
}
.menu-bar .menu {
    width: 25%;
    height: 1.333333rem;
    line-height: 2.0rem;
    display: block;
    float: left;
    text-align: center;
    color: #666;
    font-size: 0.32rem;
    font-weight: normal;
    overflow: hidden;
}
.menu-bar .one-fifth {
    width: 20% !important;
}
.menu-bar .recommend {
    background: url(/image/payback/recommend.png) center 0.16rem no-repeat;
    background-size: 0.493333rem 0.573333rem;
}
.menu-bar .new {
    background: url(/image/payback/new.png) center 0.213333rem no-repeat;
    background-size: 0.52rem 0.48rem;
}
.menu-bar .forecast {
    background: url(/image/payback/forecast.png) center 0.173333rem no-repeat;
    background-size: 0.56rem 0.56rem;
}
.menu-bar .category {
    background: url(/image/payback/all.png) center 0.186667rem no-repeat;
    background-size: 0.52rem 0.52rem;
}
.menu-bar .wish {
    background: url(/image/payback/wish.png) center 0.173333rem no-repeat;
    background-size: 0.573333rem 0.546667rem;
}
.menu-bar .on.recommend {
    color: #ff4242;
    background-image: url(/image/payback/recommend-red.png)
}
.menu-bar .on.new {
    color: #ff4242;
    background-image: url(/image/payback/new-red.png)
}
.menu-bar .on.forecast {
    color: #ff4242;
    background-image: url(/image/payback/forecast-red.png)
}
.menu-bar .on.category {
    color: #ff4242;
    background-image: url(/image/payback/all-red.png)
}
.menu-bar .on.wish {
    color: #ff4242;
    background-image: url(/image/payback/wish-red.png)
}
/* 新增tab栏 */
.tab-time {
    width:10rem;
    height:1.3rem;
    background-color:white;
    /* border:1px solid fuchsia; */
    overflow-x: scroll;
    border-top:0.05rem solid #ebebeb;
    border-bottom:0.05rem solid #ebebeb;
    margin:0 auto;
}
.tab-time ul{
    width:10rem;
    display:inline-block;
    /* padding-top:0.2rem; */
    /* border:1px solid green; */
}
.tab-time ul li {
    line-height: 1.3rem;
    height:1.3rem;
    /* border:1px solid red; */
    width:2.5rem;
    font-size:0.6rem;
    text-align: center;
    float: left;
}
.tab-time ul li p {
    height:0.4rem;
    font-size:0.4rem;
    line-height:0.4rem;
    margin-top:0.05rem;
    /* border:1px solid red; */
}
.tab-time ul .robbing-time {
  margin-top:0.2rem;
}
.tab-time ul .state {
    color:#999999;
    font-size:0.3rem;
}

.tab-time ul .tabselect {
    width:1.5rem;
    height:0.1rem;
    margin-left:0.5rem;
    margin-top:0.1rem;
    border-radius: 0.2rem;
    background-color: tomato;
}

.tab-time::-webkit-scrollbar {
    display: none;
}
.tabselecthide {
    display: none;
}
.fontcolor {
    color:tomato
}