<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ande.buyb2c.attribute.dao.AttributeMapper" >
  <resultMap id="BaseResultMap" type="com.ande.buyb2c.attribute.entity.Attribute" >
    <id column="attribute_id" property="attributeId" jdbcType="INTEGER" />
    <result column="attribute_name" property="attributeName" jdbcType="VARCHAR" />
    <result column="attribute_type" property="attributeType" jdbcType="CHAR" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    attribute_id, attribute_name, attribute_type, admin_id, create_time, update_time,remarks
  </sql>
 <!--  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_attribute
    where attribute_id = #{attributeId,jdbcType=INTEGER}
  </select> -->
  <resultMap id="AttributeAndVal" type="com.ande.buyb2c.attribute.entity.Attribute">
  	 <id column="attribute_id" property="attributeId" jdbcType="INTEGER" />
   	 <result column="attribute_name" property="attributeName" jdbcType="VARCHAR" />
   	 <result column="remarks" property="remarks" jdbcType="VARCHAR" />
   	 <result column="attribute_type" property="attributeType" jdbcType="CHAR" />
   	 <collection property="attributeValList" ofType="com.ande.buyb2c.attribute.entity.AttributeVal">
   	 	  <id column="attribute_val_id" property="attributeValId" jdbcType="INTEGER" />
   		 <result column="attribute_val" property="attributeVal" jdbcType="VARCHAR" />
   	 </collection>
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="AttributeAndVal">
  select a.attribute_id, a.attribute_type,a.attribute_name,a.remarks,v.attribute_val_id,v.attribute_val
  from t_attribute a
  left join t_attribute_val v
  on a.attribute_id=v.attribute_id
    where a.attribute_id = #{attributeId,jdbcType=INTEGER}
  </select>
  <select id="getPage" resultMap="BaseResultMap" parameterType="com.ande.buyb2c.attribute.entity.Attribute">
    select a.attribute_id, a.attribute_type,a.attribute_name,a.remarks,
    v.attribute_val_id as attributeValId,group_concat(v.attribute_val) as attributeValStr
  from t_attribute a
  left join t_attribute_val v
  on a.attribute_id=v.attribute_id
  <if test="attributeName!=null and attributeName!=''">
   where a.attribute_name = #{attributeName}
  </if>
  group by a.attribute_id
  order by a.create_time desc
  </select>
  <select id="getAttributeList" resultMap="BaseResultMap">
  select a.attribute_id,a.attribute_name,a.remarks
from t_attribute a
where a.attribute_id not in(
SELECT attribute_id from t_attribute_type_attribute ata where ata.attribute_type_id=#{attributeTypeId}
)
order by a.create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_attribute
    where attribute_id = #{attributeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ande.buyb2c.attribute.entity.Attribute" >
    insert into t_attribute (attribute_id, attribute_name, attribute_type, 
      admin_id, create_time, update_time
      )
    values (#{attributeId,jdbcType=INTEGER}, #{attributeName,jdbcType=VARCHAR}, #{attributeType,jdbcType=CHAR}, 
      #{adminId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ande.buyb2c.attribute.entity.Attribute" keyProperty="attributeId" useGeneratedKeys="true">
    insert into t_attribute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attributeId != null" >
        attribute_id,
      </if>
      <if test="attributeName != null" >
        attribute_name,
      </if>
      <if test="attributeType != null" >
        attribute_type,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attributeId != null" >
        #{attributeId,jdbcType=INTEGER},
      </if>
      <if test="attributeName != null" >
        #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeType != null" >
        #{attributeType,jdbcType=CHAR},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ande.buyb2c.attribute.entity.Attribute" >
    update t_attribute
    <set >
      <if test="attributeName != null" >
        attribute_name = #{attributeName,jdbcType=VARCHAR},
      </if>
      <if test="attributeType != null" >
        attribute_type = #{attributeType,jdbcType=CHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
       <if test="remarks != null" >
        remarks=#{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where attribute_id = #{attributeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ande.buyb2c.attribute.entity.Attribute" >
    update t_attribute
    set attribute_name = #{attributeName,jdbcType=VARCHAR},
      attribute_type = #{attributeType,jdbcType=CHAR},
      admin_id = #{adminId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where attribute_id = #{attributeId,jdbcType=INTEGER}
  </update>
</mapper>