<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telphone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit">
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
	<meta name="HandheldFriendly" content="true">
	<!-- 微软的老式浏览器 -->
	<meta name="MobileOptimized" content="320">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
	<!-- 禁用iPhone手机浏览器上给电话号码自动加上的link样式 -->
	<meta name="format-detection" content="telephone=no">
	<title>秀一秀</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/community/common.css">
	<script type="text/javascript" src="/js/third-part/flexible.js"></script>
	<script type="text/javascript" src="/js/third-part/jquery.min.js"></script>
	<script type="text/javascript" src="/js/third-part/fastclick.min.js"></script>
</head>
<body>
	<!-- <header id="header" class="">
		<div class="head-wrap">
			<a href="javascript: void(0);" class="icon-return no-icon"></a>
			<span class="title">秀一秀</span>
			<a href="javascript: void(0);" id="close" class="fr icon-close"></a>
		</div>
	</header> -->
	<div class="content-wrap mt0">
		<div class="err-wrap">
			<img src="/image/community/giraffe.png" />
			<p class="msg"><%=errMsg || '抱歉，系统出了点小问题' %></p>
		</div>
	</div>
</body>
  
</html>
<script>
$(function(){
	FastClick.attach(document.body);

	if(window.jsObj) {    // Android
    	$('#close').click(function() {
    		window.jsObj.closeWebview();
    	});
    } else {	// IOS
        setupWebViewJavascriptBridge(function(bridge) {
        	$('#close').click(function() {
        		bridge.callHandler('closeWebview');
        	});
        });
    }
});

// IOS初始化
function setupWebViewJavascriptBridge(callback) {
    if (window.WebViewJavascriptBridge) {
        return callback(WebViewJavascriptBridge);
    }
    if (window.WVJBCallbacks) {
        return window.WVJBCallbacks.push(callback);
    }
    window.WVJBCallbacks = [callback];
    var WVJBIframe = document.createElement('iframe');
    WVJBIframe.style.display = 'none';
    WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
    document.documentElement.appendChild(WVJBIframe);
    setTimeout(function() {
        document.documentElement.removeChild(WVJBIframe)
    }, 0)
}
</script>

