<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.infrastructure.dao.AppStoreDao">

	<select id="selectAppStore" parameterType="Map" resultType="AppStore">
		SELECT
			app_id
			,app_name
			,developer
			,private_key
			,tag
			,status
			,callback_url
			,desc1
		FROM id_app_store
		<where>
			1=1
			<if test="app_id !=null and app_id != ''">
				AND app_id=#{app_id}
			</if>
			<if test="private_key !=null and private_key != ''">
				AND private_key=#{private_key}
			</if>
		</where>
	</select>
</mapper>