<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../commonHead.html %>
    <title>更多</title>
    <link rel="stylesheet" type="text/css" href="/css/more/index.css?v20170427">
</head>
<body>
    <div class="box">
        <a class="tele fun" href="/openapi/h5/common/mobile-fee?member_id=<%=stores_id%>&member_type_key=stores">话费充值</a>
        <a class="train fun" href="javascript: void(0);">车票代售</a>
        <a class="product fun" href="/openapi/h5/b/more/xpx?stores_id=<%=stores_id%>&newLayer=true">新品秀</a>
    </div>
    <div class="box">
        <a class="college fun" href="http://u.meitianhui.com/">商学院</a>
        <a class="fun nb" href="javascript: void(0);"></a>
        <a class="fun nb" href="javascript: void(0);"></a>
    </div>
</body>
</html>