<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<meta content="no-cache" http-equiv="pragma">
	<title>{{article_title}} </title>
	<link rel="stylesheet" href="/assest/css/global.css">
	<link rel="stylesheet" href="/assest/css/styles.css">
</head>
<body>
	<main>
	  <div class="content clearfix">
	    <h1 class="information-title clearfix">{{article_title}}</h1>
	    <div class="information-info clearfix">
	      <i>来源：{{article_source}}</i>  <i>发布时间：{{publishAt publish_date 'YYYY/MM/DD'}}</i>
	    </div>
	    <div class="information-content clearfix">
	      {{{article_content}}}
	    </div>

	  </div>
	</main>
</body>
</html>
