<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.goods.dao.BeiKeMallGoodsDao">
	
	<update id="beikeMallGoodsSalesVolumeUpdate" parameterType="Map">
		UPDATE beike_mall_goods
			<set>
				<if test="item_num != null and item_num != ''">
					sales_volume = sales_volume + #{item_num}
				</if>
			</set>
		<where>
			1=1
			<if test="goods_id != null and goods_id != ''">
				AND goods_id = #{goods_id}
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND goods_code = #{goods_code}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
		</where>
	</update>

</mapper>