<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.goods.dao.GdAppAdvertDao">

	<insert id="insertGdAppAdvert" parameterType="GdAppAdvert">
		INSERT INTO
		gd_app_advert (
		advert_id
		,category
		,json_data
		,created_date
		,modified_date
		,remark
		)
		VALUES
		(
		#{advert_id}
		,#{category}
		,#{json_data}
		,#{created_date}
		,#{modified_date}
		,#{remark}
		)
	</insert>

	<select id="findAppMemberAd" parameterType="Map" resultType="Map">
		SELECT
			category
			,jump_type
			,json_data
		FROM
			gd_app_advert
		where
			status = 0
			and end_time >= now()
			and category in ('vip_ads', 'vip_recommend')
		ORDER BY sorted DESC
	</select>


	<select id="selectGdAppAdvert" parameterType="Map" resultType="Map">
		SELECT
			advert_id
			,category
			,jump_type
			,json_data
			,end_time
			,sorted
			,RGB
			,size
		FROM
			gd_app_advert
		<where>
				status = 0
				AND end_time >= now()
			<if test="category != null and category != ''">
				AND category = #{category}
			</if>
		</where>
		ORDER BY sorted DESC
	</select>


	<update id="updateGdAppAdvert" parameterType="Map">
		UPDATE gd_app_advert SET
		<trim suffixOverrides=",">
			modified_date = SYSDATE(),
			<if test="json_data != null and json_data != ''">
				json_data = #{json_data},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
		</trim>
		<where>
			advert_id = #{advert_id} AND category = #{category}
		</where>
	</update>

	<delete id="deleteGdAppAdvert" parameterType="Map">
		DELETE FROM gd_app_advert WHERE advert_id = #{advert_id}
	</delete>
	

</mapper>