<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.order.dao.BeikeMallOrderCouponsDao">

	<insert id="insertBeikeMallOrderCoupons" parameterType="BeikeMallOrderCoupons">
        insert into beike_mall_order_coupons 
        (order_no,
        coupons_id,
        coupons_key,
        coupons_name,
        coupons_amount,
       	coupons_subtract,
       	coupons_validity,
       	created_date) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.order_no},
            #{item.coupons_id},
            #{item.coupons_key},
            #{item.coupons_name},
            #{item.coupons_amount},
            #{item.coupons_subtract},
            #{item.coupons_validity},
            #{item.created_date})
        </foreach>
    </insert>
    
    <select id="findOrderCoupons"  parameterType="Map" resultType="Map">
    	SELECT
			order_no,
			coupons_id,
			coupons_key,
			coupons_name,
			coupons_amount,
			coupons_subtract,
			coupons_validity,
			created_date
		FROM
			beike_mall_order_coupons
		<where>
			<if test="order_no != null and order_no != ''">
				AND order_no = #{order_no}
			</if>
			<if test="coupons_key != null and coupons_key != ''">
				AND coupons_key = #{coupons_key}
			</if>
		</where>
    </select>
    
    <delete id="delOrderCoupons" parameterType="Map">
    	delete  from beike_mall_order_coupons
   		where  order_no =   #{order_no}
    </delete>
    
</mapper>		


