<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.order.dao.HongbaoOrderDao">

	<insert id="insertHongbaoOrder" parameterType="HongbaoOrder" useGeneratedKeys="true" keyProperty="order_id">
		INSERT INTO
			hongbao_order (
			 order_no
			,order_date
			,member_type_key
			,member_id
			,member_mobile
			,member_info
			,desc1
			,payment_way_key
			,sale_fee
			,qty
			,delivery_fee
			,delivery_address
			,contact_person
			,contact_tel
			,logistics
			,data_source
			,status
			,created_date
			,modified_date
			,remark
			,biz_remark
			,order_type
		)
		VALUES (
			 #{order_no}
			,#{order_date}
			,#{member_type_key}
			,#{member_id}
			,#{member_mobile}
			,#{member_info}
			,#{desc1}
			,#{payment_way_key}
			,#{sale_fee}
			,#{qty}
			,#{delivery_fee}
			,#{delivery_address}
			,#{contact_person}
			,#{contact_tel}
			,#{logistics}
			,#{data_source}
			,#{status}
			,#{created_date}
			,#{modified_date}
			,#{remark}
			,#{biz_remark}
			,#{order_type}
		)
	</insert>

	<insert id="insertHongbaoOrderItem" parameterType="HongbaoOrderItem">
		INSERT INTO
		hongbao_order_item (
		 order_id
		,goods_id
		,goods_title
		,goods_pic_info
		,qty
		,sale_price
		,service_price
		,created_date
		,modified_date
		,remark
		)
		VALUES
		(
		 #{order_id}
		,#{goods_id}
		,#{goods_title}
		,#{goods_pic_info}
		,#{qty}
		,#{sale_price}
		,#{service_price}
		,#{created_date}
		,#{modified_date}
		,#{remark}
		)
	</insert>


	<!-- 贝壳商城订单列表查询 -->
	<select id="selectHongbaoOrderList" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.member_type_key
				,o.member_id
				,o.member_mobile
				,o.member_info
				,o.desc1
				,o.payment_way_key
				,o.sale_fee
				,o.qty
				,o.delivery_fee
				,o.delivery_address
				,o.contact_person
				,o.contact_tel
				,o.logistics
				,o.data_source
				,o.status
				,o.created_date
				,o.modified_date
				,o.remark
				,o.biz_remark
				,o.order_type
				,oi.goods_id as item_goods_id
				,oi.goods_title as item_goods_title
				,oi.goods_pic_info as item_goods_pic_info
				,oi.remark as item_remark
			FROM hongbao_order o 
				inner join hongbao_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1 
			<if test="order_id != null and order_id != ''">
				AND o.order_id = #{order_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND o.order_no = #{order_no}
			</if>
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="status != null and status != '' and status != 'wait_buyer_pay'">
				AND o.status = #{status}
			</if>
			<if test="status == 'wait_buyer_pay'">
				AND o.status = #{status} AND o.order_type = 8
			</if>
			<if test="status_in != null">
				AND (( order_type != 8 AND `status` != 'wait_buyer_pay' ) OR order_type = 8)
				AND o.status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
			<if test="order_ids != null">
				AND 0.order_id in
				<foreach item="item" index="index" collection="order_ids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>

	<select id="selectHongbaoOrder" parameterType="Map" resultType="HongbaoOrder">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.member_type_key
				,o.member_id
				,o.member_mobile
				,o.member_info
				,o.desc1
				,o.payment_way_key
				,o.sale_fee
				,o.qty
				,o.delivery_fee
				,o.delivery_address
				,o.contact_person
				,o.contact_tel
				,o.logistics
				,o.data_source
				,o.status
				,o.created_date
				,o.modified_date
				,o.remark
				,o.biz_remark
			FROM
				hongbao_order o
		]]>
		<where>
			1=1
			<if test="order_type != null and order_type != ''">
				AND o.order_type = #{order_type}
			</if>
			<if test="order_id != null and order_id != ''">
				AND o.order_id = #{order_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND o.order_no = #{order_no}
			</if>
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="external_order_no != null and external_order_no != ''">
				AND o.external_order_no = #{external_order_no}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>
	
	<select id="selectFgOrderByStatus" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				count(o.order_id) as count_num
			FROM
				fg_order o
		]]>
		<where>
			1=1
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
				AND o.status = 'closed' 
		</where>
	</select>

	<select id="selectFgOrderItem" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				oi.goods_id
				,oi.goods_code
				,oi.goods_title
				,oi.qty
				,oi.sale_price
				,oi.total_fee
				,oi.discount_fee
				,oi.sku_id
			FROM
				fg_order_item oi
		]]>
		<where>
			1=1
			<if test="order_id != null and order_id != ''">
				AND oi.order_id = #{order_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND oi.order_no = #{order_no}
			</if>
		</where>
	</select>

	<select id="selectFgOrderListCheck" parameterType="Map"
		resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>

	<select id="selectFgOrderListByOwn" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.order_type
				,o.payment_way_key
				,o.desc1
				,o.total_fee
				,o.discount_fee
				,o.sale_fee
				,o.delivery_address
				,o.contact_person
				,o.contact_tel
				,o.logistics
				,o.data_source
				,o.external_order_no
				,o.remark
				,o.biz_remark
				,o.status
				,o.settle_status
				,o.qty
				,oi.goods_id as item_goods_id
				,oi.goods_code as item_goods_code
				,oi.goods_title as item_goods_title
				,oi.qty as item_qty
				,oi.sale_price as item_sale_price
				,oi.goods_pic_info as item_goods_pic_info
				,oi.remark as item_remark
				,oi.taobao_link as item_taobao_link
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1 AND  o.order_type ='meitianhui'  <![CDATA[AND o.status <> 'refund']]> 
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>

	<select id="selectFgOrderListByHuiguo" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.order_type
				,o.payment_way_key
				,o.desc1
				,o.total_fee
				,o.discount_fee
				,o.sale_fee
				,o.delivery_address
				,o.contact_person
				,o.contact_tel
				,o.logistics
				,o.data_source
				,o.external_order_no
				,o.remark
				,o.biz_remark
				,o.status
				,o.settle_status
				,o.qty
				,oi.goods_id as item_goods_id
				,oi.goods_code as item_goods_code
				,oi.goods_title as item_goods_title
				,oi.qty as item_qty
				,oi.sale_price as item_sale_price
				,oi.goods_pic_info as item_goods_pic_info
				,oi.remark as item_remark
				,oi.taobao_link as item_taobao_link
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1 AND o.order_type ='huiguo' <![CDATA[AND o.status <> 'refund']]>
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>



	<select id="selectFgOrderByRefundList" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.order_type
				,o.payment_way_key
				,o.desc1
				,o.total_fee
				,o.discount_fee
				,o.sale_fee
				,o.delivery_address
				,o.contact_person
				,o.contact_tel
				,o.logistics
				,o.data_source
				,o.external_order_no
				,o.remark
				,o.biz_remark
				,o.status
				,o.settle_status
				,o.qty
				,o.member_id
				,o.member_mobile
				,oi.goods_id as item_goods_id
				,oi.goods_code as item_goods_code
				,oi.goods_title as item_goods_title
				,oi.qty as item_qty
				,oi.sale_price as item_sale_price
				,oi.goods_pic_info as item_goods_pic_info
				,oi.remark as item_remark
				,oi.taobao_link as item_taobao_link
				,o.modified_date
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1 AND (o.order_type ='meitianhui' OR o.order_type ='huiguo' )
			<if test="order_type != null and order_type != ''">
			    AND o.order_type = #{order_type}
			</if>
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="status_in != null">
				AND (o.status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
				OR (o.status ='cancelled' AND o.remark like '%revoked%'))
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
			<if test="order_no != null and order_no != ''">
			    AND o.order_no = #{order_no}
			</if>
			<if test="contact_tel != null and contact_tel != ''">
			    AND o.contact_tel = #{contact_tel}
			</if>
			<if test="contact_person != null and contact_person != ''">
			    AND o.contact_person = #{contact_person}
			</if>
			<if test="external_order_no != null and external_order_no != ''">
				AND o.external_order_no = #{external_order_no}
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>

	<select id="selectFgOrderList" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.order_type
				,o.payment_way_key
				,o.desc1
				,o.total_fee
				,o.discount_fee
				,o.sale_fee
				,o.delivery_address
				,o.contact_person
				,o.contact_tel
				,o.logistics
				,o.data_source
				,o.external_order_no
				,o.remark
				,o.biz_remark
				,o.status
				,o.settle_status
				,o.qty
				,oi.goods_id as item_goods_id
				,oi.goods_code as item_goods_code
				,oi.goods_title as item_goods_title
				,oi.qty as item_qty
				,oi.sale_price as item_sale_price
				,oi.goods_pic_info as item_goods_pic_info
				,oi.remark as item_remark
				,oi.taobao_link as item_taobao_link
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1 AND (o.order_type ='taobao' OR o.order_type ='hsrj' OR o.order_type ='merchants')  <![CDATA[AND o.status <> 'refund']]>
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>
	
	<select id="selectFgOrderListForSmallProgram" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.order_type
				,o.payment_way_key
				,o.desc1
				,o.total_fee
				,o.discount_fee
				,o.sale_fee
				,o.delivery_address
				,o.contact_person
				,o.contact_tel
				,o.logistics
				,o.data_source
				,o.external_order_no
				,o.remark
				,o.biz_remark
				,o.status
				,o.settle_status
				,o.qty
				,oi.goods_id as item_goods_id
				,oi.goods_code as item_goods_code
				,oi.goods_title as item_goods_title
				,oi.qty as item_qty
				,oi.sale_price as item_sale_price
				,oi.goods_pic_info as item_goods_pic_info
				,oi.remark as item_remark
				,oi.taobao_link as item_taobao_link
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1 
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>

	<select id="selectFgOrderDetail" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.order_type
				,o.desc1
				,o.item_num
				,o.payment_way_key
				,o.total_fee
				,o.discount_fee
				,o.sale_fee
				,o.member_type_key
				,o.member_id
				,o.member_info
				,o.member_mobile
				,o.delivery_address
				,o.contact_person
				,o.contact_tel
				,o.logistics
				,o.data_source
				,o.external_order_no
				,o.external_buyer_name
				,o.external_buyer_pay_no
				,o.modified_date
				,o.remark
				,o.biz_remark
				,o.status
				,o.settle_status
				,o.transaction_no
				,o.qty
				,o.self_label
				,o.flags
				,oi.goods_id as item_goods_id
				,oi.goods_code as item_goods_code
				,oi.goods_title as item_goods_title
				,oi.specification as item_specification
				,oi.manufacturer as item_manufacturer
				,oi.supplier as item_supplier
				,oi.qty as item_qty
				,oi.goods_unit as item_goods_unit
				,oi.sale_price as item_sale_price
				,oi.total_fee as item_total_fee
				,oi.discount_fee as item_discount_fee
				,oi.settled_price as item_settled_price
				,oi.service_fee as item_service_fee
				,oi.remark as item_remark
				,oi.sku_id
			FROM
				fg_order o 
				inner join fg_order_item oi on oi.order_id = o.order_id	
		]]>
		<where>
			1=1
			<if test="order_type != null and order_type != ''">
				AND o.order_type = #{order_type}
			</if>
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="order_id != null and order_id != ''">
				AND o.order_id = #{order_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND o.order_no = #{order_no}
			</if>
			<if test="contact_tel != null and contact_tel != ''">
				AND o.contact_tel = #{contact_tel}
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="settle_status != null and settle_status != ''">
				AND o.settle_status = #{settle_status}
			</if>
			<if test="status_in != null">
				AND o.status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="logistics_like != null and logistics_like != ''">
				AND o.logistics LIKE CONCAT('%',#{logistics_like},'%')
			</if>
			<if test="logistics_is_not_null != null and logistics_is_not_null != ''">
				AND o.logistics IS NOT NULL
			</if>
			<if test="goods_id != null and goods_id != ''">
				AND oi.goods_id = #{goods_id}
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
			<if test="goods_title_like != null and goods_title_like != ''">
				AND oi.goods_title LIKE
				CONCAT('%',#{goods_title_like},'%')
			</if>
			<if test="supplier_id != null and supplier_id != ''">
				AND oi.supplier_id = #{supplier_id}
			</if>
			<if test="supplier_like != null and supplier_like != ''">
				AND oi.supplier LIKE CONCAT('%',#{supplier_like},'%')
			</if>
			<if test="manufacturer_like != null and manufacturer_like != ''">
				AND oi.manufacturer LIKE
				CONCAT('%',#{manufacturer_like},'%')
			</if>
			<if test="order_like != null and order_like != ''">
				AND (o.order_no like CONCAT('%',#{order_like},'%') or
				o.external_order_no like CONCAT('%',#{order_like},'%') or
				o.contact_tel like CONCAT('%',#{order_like},'%') or
				oi.supplier like
				CONCAT('%',#{order_like},'%') or
				oi.goods_code like
				CONCAT('%',#{order_like},'%'))
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="order_date != null and order_date != ''">
				AND DATE_FORMAT(o.order_date, '%Y-%m-%d') =
				DATE_FORMAT(#{order_date}, '%Y-%m-%d')
			</if>
			<if test="external_order_no != null and external_order_no != ''">
				AND o.external_order_no = #{external_order_no}
			</if>
			<if test="external_order_no_in != null">
				AND o.external_order_no in
				<foreach item="item" index="index" collection="external_order_no_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="external_buyer_name != null and external_buyer_name != ''">
				AND o.external_buyer_name = #{external_buyer_name}
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>

	<select id="selectFgOrderDetailForImport" parameterType="Map"
		resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.order_date
				,o.order_type
				,o.member_id
				,o.member_mobile
				,o.member_type_key
				,o.discount_fee
				,o.total_fee
				,o.desc1
				,o.data_source
				,o.modified_date
				,o.status
				,o.transaction_no
				,o.order_commision
				,oi.goods_id as item_goods_id
				,oi.goods_code as item_goods_code
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1
			<if test="order_type != null and order_type != ''">
				AND o.order_type = #{order_type}
			</if>
			<if test="order_id != null and order_id != ''">
				AND o.order_id = #{order_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND o.order_no = #{order_no}
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="settle_status != null and settle_status != ''">
				AND o.settle_status = #{settle_status}
			</if>
			<if test="goods_code != null and goods_code != ''">
				AND oi.goods_code = #{goods_code}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=date_add(#{order_date_end},interval
				1 day)
			</if>
			<if test="external_buyer_name != null and external_buyer_name != ''">
				AND o.external_buyer_name = #{external_buyer_name}
			</if>
			<if test="external_order_no != null and external_order_no != ''">
				AND o.external_order_no = #{external_order_no}
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
			<if test="transaction_no != null and transaction_no != ''">
				AND o.transaction_no = #{transaction_no}
			</if>
		</where>
	</select>


	<select id="selectFgOrderSettlement" parameterType="Map"
		resultType="Map">
		<![CDATA[
			SELECT
				o.order_id
				,o.order_no
				,o.modified_date
				,oi.goods_id as item_goods_id
				,oi.goods_code as item_goods_code
				,oi.goods_title as item_goods_title
				,oi.supplier as item_supplier
				,oi.supplier_id as item_supplier_id
				,oi.qty as item_qty
				,oi.settled_price as item_settled_price
				,oi.service_fee as item_service_fee
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="settle_status != null and settle_status != ''">
				AND o.settle_status = #{settle_status}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="order_date != null and order_date != ''">
				AND DATE_FORMAT(o.order_date, '%Y-%m-%d') =
				DATE_FORMAT(#{order_date}, '%Y-%m-%d')
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>

	<select id="selectFgOrderSettlementCount" parameterType="Map"
		resultType="Map">
		<![CDATA[
			SELECT
				sum(o.total_fee) as total_fee
				,count(o.order_id) as count_num
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1
			<if test="order_like != null and order_like != ''">
				AND (oi.goods_code like CONCAT('%',#{order_like},'%') or
				oi.supplier like CONCAT('%',#{order_like},'%') or
				oi.goods_title like
				CONCAT('%',#{order_like},'%'))
			</if>
			<if test="order_date != null and order_date != ''">
				AND DATE_FORMAT(o.order_date, '%Y-%m-%d') =
				DATE_FORMAT(#{order_date}, '%Y-%m-%d')
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="status_in != null">
				AND o.status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="settle_status != null and settle_status != ''">
				AND o.settle_status = #{settle_status}
			</if>
		</where>
	</select>

	<select id="selectFgOrderSupplyCount" parameterType="Map"
		resultType="String">
		<![CDATA[
			SELECT
				o.status as status 
			FROM
				fg_order o inner join fg_order_item oi on oi.order_id = o.order_id
		]]>
		<where>
			1=1
				<!-- AND DATE_FORMAT(o.order_date, '%Y-%m-%d') =
				DATE_FORMAT(now(), '%Y-%m-%d') -->
				AND oi.supplier_id = #{supplier_id}
		</where>
	</select>

	<select id="selectStoresRecomConsumerFreeGetCount"
		parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				oe.consumer_id
				,o.contact_person AS name
				,o.contact_tel AS contact
			FROM
				fg_order_extra oe
				INNER JOIN fg_order o ON oe.order_id = o.order_id
		]]>
		<where>
			1=1
			<if test="stores_id != null and stores_id != ''">
				AND oe.stores_id = #{stores_id}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
		</where>
	</select>

	<select id="selectFgOrderExtra" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				stores_id
			FROM
				fg_order_extra
		]]>
		<where>
			consumer_id = #{consumer_id} AND order_id = #{order_id}
		</where>
	</select>

	<select id="selectFgOrderCount" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				count(order_id) as count_num
			FROM
				fg_order
		]]>
		<where>
			1=1
			<if test="member_id != null and member_id != ''">
				AND member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND member_type_key = #{member_type_key}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND order_date &lt; date_add(#{order_date_end},interval 1
				day)
			</if>
		</where>
	</select>


	<select id="selectFgOrderViolationCount" parameterType="Map"
		resultType="Map">
		<![CDATA[
			SELECT
				count(order_id) as total_num,
				SUM(CASE WHEN logistics IS NOT NULL AND status ='cancelled' THEN 1 ELSE 0 END) as violation_num
			FROM
				fg_order
		]]>
		<where>
			1=1
			<if test="member_id != null and member_id != ''">
				AND member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND member_type_key = #{member_type_key}
			</if>
		</where>
	</select>


	<update id="hongBaoOrderUpdate" parameterType="Map">
		UPDATE hongbao_order SET
		<trim suffixOverrides=",">
			modified_date = SYSDATE(),
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="settle_status != null and settle_status != ''">
				settle_status = #{settle_status},
			</if>
			<if test="delivery_address != null and delivery_address != ''">
				delivery_address = #{delivery_address},
			</if>
			<if test="logistics != null and logistics != ''">
				logistics = #{logistics},
			</if>
			<if test="data_source != null and data_source != ''">
				data_source = #{data_source},
			</if>
			<if test="payment_way_key != null and payment_way_key != ''">
				payment_way_key = #{payment_way_key},
			</if>
			<if test="external_order_no != null and external_order_no != ''">
				external_order_no = #{external_order_no},
			</if>
			<if test="external_buyer_name != null and external_buyer_name != ''">
				external_buyer_name = #{external_buyer_name},
			</if>
			<if test="external_buyer_pay_no != null and external_buyer_pay_no != ''">
				external_buyer_pay_no = #{external_buyer_pay_no},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="biz_remark != null and biz_remark != ''">
				biz_remark = #{biz_remark},
			</if>
			<if test="delivery_address != null and delivery_address != ''">
				delivery_address = #{delivery_address},
			</if>
			<if test="contact_person != null and contact_person != ''">
				contact_person = #{contact_person},
			</if>
			<if test="contact_tel != null and contact_tel != ''">
				contact_tel = #{contact_tel},
			</if>
			<if test="transaction_no != null and transaction_no != ''">
				transaction_no = #{transaction_no},
			</if>
			<if test="pay_date != null">
				pay_date = #{pay_date},
			</if>
		</trim>
		<where>
			1=1
			<if test="order_id != null and order_id != ''">
				AND order_id=#{order_id}
			</if>
			<if test="order_type != null and order_type != ''">
				AND order_type=#{order_type}
			</if>
			<if test="order_no != null and order_no != ''">
				AND order_no=#{order_no}
			</if>
			<if test="modified_date != null and modified_date != ''">
				AND modified_date=#{modified_date}
			</if>
			<if test="order_ids != null">
				AND order_id in
				<foreach item="item" index="index" collection="order_ids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</update>

	<!-- 贝壳商城订单 -->
	<select id="selectHongBaoOrderDetail" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				o.order_id,
				o.order_no,
				o.`status`,
				o.delivery_fee,
				o.sale_fee,
				o.qty,
				o.contact_person,
				o.contact_tel,
				o.delivery_address,
				o.payment_way_key,
				o.pay_date,
				o.created_date,
				o.remark,
				o.order_date,
				be.order_type,
				be.express_no,
				be.ename,
				be.add_time,
				be.ecode,
				i.sale_price
			FROM hongbao_order o 
			LEFT JOIN beike_express be ON o.order_no = be.order_no
			LEFT JOIN hongbao_order_item i ON o.order_id = i.order_id
		]]>
		<where>
			1=1 
			<if test="order_id != null and order_id != ''">
				AND o.order_id = #{order_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND o.order_no = #{order_no}
			</if>
			<if test="member_id != null and member_id != ''">
				AND o.member_id = #{member_id}
			</if>
			<if test="member_type_key != null and member_type_key != ''">
				AND o.member_type_key = #{member_type_key}
			</if>
			<if test="status_neq != null and status_neq != ''">
				AND o.status &lt;&gt; #{status_neq}
			</if>
			<if test="status != null and status != ''">
				AND o.status = #{status}
			</if>
			<if test="status_in != null">
				AND o.status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND o.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND o.order_date &lt;=
				date_add(#{order_date_end},interval 1 day)
			</if>
			<if test="member_mobile != null and member_mobile != ''">
				AND o.member_mobile = #{member_mobile}
			</if>
			<if test="member_info_like != null and member_info_like != ''">
				AND o.member_info like
				CONCAT('%',#{member_info_like},'%')
			</if>
		</where>
		ORDER BY o.order_date DESC
	</select>
	
	<select id="selectHongbaoOrderForCoIdGoId" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				GROUP_CONCAT(DISTINCT hc.coupons_id) AS coupons_ids,
				GROUP_CONCAT(DISTINCT hi.goods_id) AS goods_ids
			FROM
				hongbao_order ho
			LEFT JOIN hongbao_order_item hi ON ho.order_id = hi.order_id
			LEFT JOIN hongbao_order_coupons hc ON ho.order_no = hc.order_no
		]]>
		<where>
			1=1 
			<if test="order_ids != null">
				AND ho.order_id in
				<foreach item="item" index="index" collection="order_ids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	
	<select id="selectHongbaoOrderForOrId" parameterType="Map" resultType="String">
		<![CDATA[
			SELECT
				GROUP_CONCAT(DISTINCT ho.order_id) AS order_ids
			FROM
				hongbao_order ho
		]]>
		<where>
			ho.order_type = 8
			<if test="order_date_end != null and order_date_end != ''">
				AND ho.order_date &lt;=#{order_date_end}
			</if>
			<if test="status != null and status != ''">
				AND ho.status = #{status}
			</if>
		</where>
	</select>
	
</mapper>