<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.order.dao.HongBaoOrderCouponsDao">

	<insert id="insertHongBaoOrderCoupons" parameterType="HongBaoOrderCoupons">
        insert into hongbao_order_coupons 
        (order_no,
        coupons_id,
        coupons_key,
        coupons_name,
        coupons_amount,
       	coupons_subtract,
       	coupons_validity,
       	created_date) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.order_no},
            #{item.coupons_id},
            #{item.coupons_key},
            #{item.coupons_name},
            #{item.coupons_amount},
            #{item.coupons_subtract},
            #{item.coupons_validity},
            #{item.created_date})
        </foreach>
    </insert>
    
    <select id="selectHongBaoOrderCoupons" parameterType="Map" resultType="HongBaoOrderCoupons">
		<![CDATA[
			SELECT
				order_coupons_id,
				order_no,
				coupons_id,
				coupons_key,
				coupons_name,
				coupons_amount,
				coupons_subtract,
				coupons_validity,
				created_date
			FROM 
				hongbao_order_coupons
		]]>
		<where>
			1=1 
			<if test="order_coupons_id != null and order_coupons_id != ''">
				AND order_coupons_id = #{order_coupons_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND order_no = #{order_no}
			</if>
		</where>
		ORDER BY created_date DESC
	</select>
    
</mapper>		


