<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.order.dao.OrderDao">



	<insert id="insertOdSettlement" parameterType="OdSettlement">
		INSERT INTO
		od_settlement (
		settlement_id
		,data_source
		,settled_date
		,supplier_id
		,supplier
		,amount
		,order_qty
		,order_amount
		,commission_fee
		,status
		,operator
		,created_date
		,modified_date
		,remark
		)
		VALUES
		(
		#{settlement_id}
		,#{data_source}
		,#{settled_date}
		,#{supplier_id}
		,#{supplier}
		,#{amount}
		,#{order_qty}
		,#{order_amount}
		,#{commission_fee}
		,#{status}
		,#{operator}
		,#{created_date}
		,#{modified_date}
		,#{remark}
		)
	</insert>


	<insert id="insertOdSettlementDetailList" parameterType="List">
		INSERT INTO
		od_settlement_detail (
		detail_id
		,settlement_id
		,data_source
		,order_id
		,order_no
		,supplier_id
		,supplier
		,goods_id
		,goods_code
		,goods_title
		,qty
		,total_fee
		,created_date
		,modified_date
		,remark
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.detail_id}
			,#{item.settlement_id}
			,#{item.data_source}
			,#{item.order_id}
			,#{item.order_no}
			,#{item.supplier_id}
			,#{item.supplier}
			,#{item.goods_id}
			,#{item.goods_code}
			,#{item.goods_title}
			,#{item.qty}
			,#{item.total_fee}
			,#{item.created_date}
			,#{item.modified_date}
			,#{item.remark}
			)
		</foreach>
	</insert>

	<select id="selectZJSOrder" parameterType="Map"	resultType="Map">
		SELECT * FROM (
				select 
					o.order_id
					,o.order_no
					,'1' as type
					,o.order_date
					,o.loaded_code
					,o.stores_name
					,o.payment_way_key
					,'' as goods_title
					,(select GROUP_CONCAT( CONCAT(oi.item_name,'~_~',oi.image_info,'~_~',oi.qty,'~_~',oi.discount_fee) SEPARATOR '|') from pc_order_item oi where o.order_id = oi.order_id) as goods_pic_info
			      	,'1' as qty
					,'0.00' as sale_price
					,o.item_num
					,o.total_fee
					,o.rebate_fee 
					,o.contact_person
					,o.contact_tel
					,o.delivery_address as address
					,o.logistics
					,o.status
					,o.remark
				from pc_order o
				where o.consumer_id= #{consumer_id}
			union
				select
					so.order_id
					,so.order_no
					,'2' as type
					,so.order_date
					,so.loaded_code
	        		,so.stores_name
					,so.payment_way_key
					,oi.goods_title
	        		,oi.goods_pic_info
					,so.qty
					,so.retail_price as sale_price
					,so.qty as item_num
					,so.total_fee
	        		,0 as rebate_fee 
					,so.contact_person
					,so.contact_tel
					,o.delivery_address as address
					,o.logistics
					,so.status
					,so.desc2 as remark
				from
					ps_sub_order so inner join ps_order_item oi on so.parent_order_id = oi.order_id
					inner join ps_order o on so.parent_order_id = o.order_id
				where so.member_id = #{consumer_id} AND so.member_type_key = 'consumer'
				) a ORDER BY a.order_date DESC
	</select>

	<select id="selectOrderByLoadedCode" parameterType="Map" resultType="Map">
		SELECT * FROM (
				select 
					po.order_id
					,po.order_no
					,'精选特卖' as type
					,po.order_date
					,po.loaded_code
					,(select GROUP_CONCAT( CONCAT(oi.item_name,'~_~',oi.qty) SEPARATOR '|') from pc_order_item oi where po.order_id = oi.order_id) as goods_list
					,po.item_num
					,po.contact_person
					,po.contact_tel
					,po.delivery_address as address
				from pc_order po
				where po.loaded_code = #{loaded_code} AND po.stores_id = #{stores_id}
			union
				select
					so.order_id
					,so.order_no
					,'团购预售' as type
					,so.order_date
					,so.loaded_code
					,CONCAT(so.desc1 ,'~_~',so.qty) as goods_list
					,so.qty as item_num
					,so.contact_person
					,so.contact_tel
					,so.delivery_address as address
				from
					ps_sub_order so
				where so.loaded_code = #{loaded_code} AND so.stores_id = #{stores_id} 
			union
				select
					tso.order_id
					,tso.order_no
					,'拼团领' as type
					,tso.order_date
					,tso.loaded_code
					,CONCAT(tso.desc1 ,'~_~',tso.item_num) as goods_list
					,tso.item_num as item_num
					,'' as contact_person
					,'' as contact_tel
					,tso.consignee_json_data as address
				from
					ts_order tso
					inner join ts_activity ta on tso.activity_id = ta.activity_id
				where tso.loaded_code = #{loaded_code} AND ta.stores_id = #{stores_id}
			) a ORDER BY a.order_date DESC
	</select>
	

	<select id="selectOrderSettlement" parameterType="Map"
		resultType="Map">
		<![CDATA[
			SELECT
				s.settlement_id
				,s.settled_date
				,s.created_date
				,s.supplier
				,s.supplier_id
				,s.amount
				,s.order_qty
				,s.order_amount
				,s.commission_fee
				,s.operator
				,s.status
				,s.remark
				,s.modified_date
			FROM
				od_settlement s
		]]>
		<where>
			1=1
			<if test="settlement_id != null and settlement_id != ''">
				AND s.settlement_id = #{settlement_id}
			</if>
			<if test="data_source != null and data_source != ''">
				AND s.data_source = #{data_source}
			</if>
			<if test="supplier_id != null and supplier_id != ''">
				AND s.supplier_id = #{supplier_id}
			</if>
			<if test="settlement_like != null and order_like != ''">
				AND (s.supplier like CONCAT('%',#{settlement_like},'%')
				or
				s.operator like CONCAT('%',#{settlement_like},'%'))
			</if>
			<if test="settled_date_start != null and settled_date_start != ''">
				AND s.settled_date &gt;= #{settled_date_start}
			</if>
			<if test="settled_date_end != null and settled_date_end != ''">
				AND s.settled_date &lt;
				date_add(#{settled_date_end},interval 1 day)
			</if>
		</where>
		ORDER BY s.settled_date DESC ,s.created_date DESC
	</select>

	<select id="HgselectOrderSettlement" parameterType="Map"
			resultType="Map">
		<![CDATA[
			SELECT
				s.settlement_id
				,s.settled_date
				,s.created_date
				,s.supplier
				,s.supplier_id
				,s.amount
				,s.order_qty
				,s.order_amount
				,s.commission_fee
				,s.operator
				,s.status
				,s.remark
				,s.modified_date
			FROM
				od_settlement s
		]]>
		<where>
			1=1


			AND s.data_source = 'SJLY_18'


			<if test="settlement_id != null and settlement_id != ''">
				AND s.settlement_id = #{settlement_id}
			</if>

			<if test="supplier_id != null and supplier_id != ''">
				AND s.supplier_id = #{supplier_id}
			</if>
			<if test="settlement_like != null and order_like != ''">
				AND (s.supplier like CONCAT('%',#{settlement_like},'%')
				or
				s.operator like CONCAT('%',#{settlement_like},'%'))
			</if>
			<if test="settled_date_start != null and settled_date_start != ''">
				AND s.settled_date &gt;= #{settled_date_start}
			</if>
			<if test="settled_date_end != null and settled_date_end != ''">
				AND s.settled_date &lt;
				date_add(#{settled_date_end},interval 1 day)
			</if>
		</where>
		ORDER BY s.settled_date DESC ,s.created_date DESC
	</select>
	<!-- 更新订单结算历史 -->
	<update id="updateOrderSettlement" parameterType="Map">
		update od_settlement
		<set>
			modified_date = SYSDATE(),
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="operator != null and operator != ''">
				operator = #{operator},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
		</set>
		<where>
			<if test="settlement_id != null and settlement_id != ''">
				AND settlement_id = #{settlement_id}
			</if>
			<if test="modified_date != null and modified_date != ''">
				AND modified_date = #{modified_date}
			</if>
		</where>
	</update>
	

</mapper>