<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meitianhui.order.dao.PcOrderDao">

	<insert id="insertPcOrder" parameterType="PcOrder">
		INSERT INTO
		pc_order (
		order_id
		,order_no
		,order_date
		,loaded_code
		,stores_id
		,stores_name
		,consumer_id
		,desc1
		,item_num
		,payment_way_key
		,total_fee
		,delivery_address
		,contact_person
		,contact_tel
		,logistics
		,status
		,delivery_date
		,created_date
		,modified_date
		,remark
		)
		VALUES (
		#{order_id}
		,#{order_no}
		,#{order_date}
		,#{loaded_code}
		,#{stores_id}
		,#{stores_name}
		,#{consumer_id}
		,#{desc1}
		,#{item_num}
		,#{payment_way_key}
		,#{total_fee}
		,#{delivery_address}
		,#{contact_person}
		,#{contact_tel}
		,#{logistics}
		,#{status}
		,#{delivery_date}
		,#{created_date}
		,#{modified_date}
		,#{remark}
		)
	</insert>

	<insert id="insertPcOrderItem" parameterType="PcOrderItem">
		INSERT INTO
		pc_order_item (
		order_item_id
		,order_id
		,item_store_id
		,item_name
		,image_info
		,qty
		,weight
		,specification
		,sale_price
		,created_date
		,modified_date
		,remark
		)
		VALUES
		(
		#{order_item_id}
		,#{order_id}
		,#{item_store_id}
		,#{item_name}
		,#{image_info}
		,#{qty}
		,#{weight}
		,#{specification}
		,#{sale_price}
		,#{created_date}
		,#{modified_date}
		,#{remark}
		)
	</insert>

	<select id="selectPcOrder" parameterType="Map" resultType="PcOrder">
		<![CDATA[
			SELECT
			order_id
			,order_no
			,order_date
			,loaded_code
			,stores_id
			,stores_name
			,consumer_id
			,desc1
			,item_num
			,payment_way_key
			,total_fee
			,delivery_address
			,contact_person
			,contact_tel
			,logistics
			,status
			,created_date
			,remark
			,modified_date
			,delivery_date
			FROM
				pc_order
		]]>
		<where>
			1=1
			<if test="order_id != null and order_id != ''">
				AND order_id = #{order_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND order_no = #{order_no}
			</if>
			<if test="stores_id != null and stores_id != ''">
				AND stores_id = #{stores_id}
			</if>
			<if test="loaded_code != null and loaded_code != ''">
				AND loaded_code = #{loaded_code}
			</if>
			<if test="stores_id_in != null">
				AND stores_id in
				<foreach item="item" index="index" collection="stores_id_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="consumer_id != null and consumer_id != ''">
				AND consumer_id = #{consumer_id}
			</if>
			<if test="order_date != null and order_date != ''">
				AND DATE_FORMAT(order_date, '%Y-%m-%d') =
				DATE_FORMAT(#{order_date}, '%Y-%m-%d')
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND order_date &lt;= date_add(#{order_date_end},interval
				1 day)
			</if>
			<if test="order_like != null and order_like != ''">
				AND (order_no like CONCAT('%',#{order_like},'%') or
				contact_person like CONCAT('%',#{order_like},'%') or
				contact_tel like
				CONCAT('%',#{order_like},'%') or
				logistics like
				CONCAT('%',#{order_like},'%')
				)
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="status_in != null">
				AND status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
		ORDER BY order_date DESC
	</select>

	<select id="selectPcOrderItem" parameterType="Map" resultType="PcOrderItem">
		<![CDATA[
			SELECT
				order_item_id
				,order_id
				,item_store_id
				,item_name
				,image_info
				,qty
				,weight
				,specification
				,sale_price
				,created_date
				,modified_date
				,remark
			FROM
				pc_order_item
		]]>
		<where>
			1=1
			<if test="order_id != null and order_id != ''">
				AND order_id = #{order_id}
			</if>
		</where>
	</select>

	<select id="selectPcOrderPayedCount" parameterType="Map"
		resultType="Map">
		<![CDATA[
			SELECT
				count(order_id) as count_num
			FROM
				pc_order
		]]>
		<where>
			status = 'payed'
			<if test="stores_id != null and stores_id != ''">
				AND stores_id = #{stores_id}
			</if>
		</where>
	</select>

	<select id="selectPcOrderCount" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
				count(order_id) as count_num,
				sum(total_fee) as total_fee
			FROM
				pc_order
		]]>
		<where>
			<if test="stores_id != null and stores_id != ''">
				AND stores_id = #{stores_id}
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND order_date &lt;= date_add(#{order_date_end},interval
				1 day)
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="status_in != null">
				AND status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>


	<select id="selectTimeoutDeliveredPcOrder" parameterType="Map"
		resultType="Map">
		SELECT
		o.order_id
		,o.order_no
		FROM pc_order o
		WHERE
		o.order_date &lt; #{lt_date} AND o.order_date &gt; #{gt_date}
		AND
		o.status = 'delivered'
	</select>


	<update id="updatePcOrder" parameterType="Map">
		UPDATE pc_order SET
		<trim suffixOverrides=",">
			modified_date = SYSDATE(),
			<if test="logistics != null and logistics != ''">
				logistics = #{logistics},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="delivery_address != null and delivery_address != ''">
				delivery_address = #{delivery_address},
			</if>
			<if test="contact_person != null and contact_person != ''">
				contact_person = #{contact_person},
			</if>
			<if test="contact_tel != null and contact_tel != ''">
				contact_tel = #{contact_tel},
			</if>
			<if test="delivery_date != null and delivery_date != ''">
				delivery_date = #{delivery_date},
			</if>
		</trim>
		<where>
			1=1
			<if test="order_id != null and order_id != ''">
				AND order_id=#{order_id}
			</if>
			<if test="modified_date != null and modified_date != ''">
				AND modified_date=#{modified_date}
			</if>
		</where>
	</update>

	<!-- 查询掌上便利店订单列表（运营） -->
	<select id="selectPcOrderListForOp" parameterType="Map"
		resultType="Map">
		SELECT a.row_no
		,a.group_no
		,CASE when a.group_no = 1 THEN a.order_id ELSE NULL END order_id
		,CASE WHEN a.group_no = 1 THEN a.order_no ELSE NULL END order_no
		,CASE WHEN a.group_no = 1 THEN a.order_date ELSE NULL END order_date
		,CASE WHEN a.group_no = 1 THEN a.stores_id ELSE NULL END stores_id
		,CASE WHEN a.group_no = 1 THEN a.stores_name ELSE NULL END stores_name
		,CASE WHEN a.group_no = 1 THEN a.item_num ELSE NULL END item_num
		,CASE WHEN a.group_no = 1 THEN a.total_fee ELSE NULL END total_fee
		,CASE WHEN a.group_no = 1 THEN a.delivery_address ELSE NULL END
		delivery_address
		,CASE WHEN a.group_no = 1 THEN a.contact_person ELSE NULL END
		contact_person
		,CASE WHEN a.group_no = 1 THEN a.contact_tel ELSE NULL END contact_tel
		,CASE WHEN a.group_no = 1 THEN a.logistics ELSE NULL END logistics
		,CASE WHEN a.group_no = 1 THEN a.status ELSE NULL END status
		,CASE WHEN a.group_no = 1 THEN a.remark ELSE NULL END remark
		,a.delivery_date
		,a.item_store_id
		,a.item_name
		,a.qty item_qty
		,a.discount_fee item_discount_fee
		,a.specification item_specification
		FROM (
		SELECT
		@row_no := @row_no + 1 AS row_no,
		@group_no := CASE WHEN @order_id = a.order_id THEN @group_no + 1 ELSE 1 END AS
		group_no,
		@order_id := a.order_id as order_id,
		a.order_no,a.order_date,a.stores_id,a.stores_name,a.item_num,a.total_fee,a.delivery_address,a.contact_person,a.contact_tel,a.logistics,a.status,a.remark,
		a.delivery_date,a.item_store_id, a.item_name,a.qty,a.discount_fee,
		a.specification
		FROM (
		SELECT
		a.order_id,a.order_no,a.order_date,a.stores_id,a.stores_name,a.item_num,a.total_fee,a.delivery_address,a.contact_person,a.contact_tel,
		a.logistics,a.status,a.remark,a.delivery_date,b.item_store_id,
		b.item_name,b.qty,b.discount_fee,b.specification
		FROM pc_order a INNER JOIN pc_order_item b ON a.order_id = b.order_id
		<where>
			<if test="order_no != null and order_no != ''">
				AND a.order_no = #{order_no}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="status_in != null">
				AND a.status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="stores_id_in != null">
				AND a.stores_id in
				<foreach item="item" index="index" collection="stores_id_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="contact_tel != null and contact_tel != ''">
				AND a.contact_tel = #{contact_tel}
			</if>
			<if test="logistics_like != null and logistics_like != ''">
				AND a.logistics_like LIKE CONCAT('%',#{logistics_like},'%')
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND a.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND a.order_date &lt;= date_add(#{order_date_end},interval 1 day)
			</if>
		</where>
		ORDER BY a.order_date DESC, a.order_id
		) a, (SELECT @group_no:=1, @order_id:='') b,(SELECT @row_no := 0) c
		) a
		ORDER BY a.row_no ASC
	</select>

	<select id="selectHongbaoOrderList" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
			a.order_id
			,a.order_no
			,a.order_date
			,a.loaded_code
			,a.stores_id
			,a.stores_name
			,a.consumer_id
			,a.desc1
			,a.item_num
			,a.payment_way_key
			,a.total_fee
			,a.delivery_address
			,a.contact_person
			,a.contact_tel
			,a.logistics
			,a.status
			,a.created_date
			,a.remark
			,a.modified_date
			,a.delivery_date
			,b.item_store_id
			,b.item_name
			,b.image_info
			FROM
				pc_order a INNER JOIN pc_order_item b ON a.order_id = b.order_id
		]]>
		<where>
			1=1
			<if test="order_id != null and order_id != ''">
				AND a.order_id = #{order_id}
			</if>
			<if test="order_no != null and order_no != ''">
				AND a.order_no = #{order_no}
			</if>
			<if test="stores_id != null and stores_id != ''">
				AND a.stores_id = #{stores_id}
			</if>
			<if test="loaded_code != null and loaded_code != ''">
				AND a.loaded_code = #{loaded_code}
			</if>
			<if test="stores_id_in != null">
				AND a.stores_id in
				<foreach item="item" index="index" collection="stores_id_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="consumer_id != null and consumer_id != ''">
				AND a.consumer_id = #{consumer_id}
			</if>
			<if test="order_date != null and order_date != ''">
				AND DATE_FORMAT(a.order_date, '%Y-%m-%d') =
				DATE_FORMAT(#{order_date}, '%Y-%m-%d')
			</if>
			<if test="order_date_start != null and order_date_start != ''">
				AND a.order_date &gt;= #{order_date_start}
			</if>
			<if test="order_date_end != null and order_date_end != ''">
				AND a.order_date &lt;= date_add(#{order_date_end},interval
				1 day)
			</if>
			<if test="order_like != null and order_like != ''">
				AND (a.order_no like CONCAT('%',#{order_like},'%') or
				a.contact_person like CONCAT('%',#{order_like},'%') or
				a.contact_tel like
				CONCAT('%',#{order_like},'%') or
				a.logistics like
				CONCAT('%',#{order_like},'%')
				)
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="status_in != null">
				AND a.status in
				<foreach item="item" index="index" collection="status_in"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="order_ids != null">
				AND a.order_id in
				<foreach item="item" index="index" collection="order_ids"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
		ORDER BY order_date DESC
	</select>
</mapper>