<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>会员协议</title>
    <style>
        p {
            font-size:0.5rem;
        }
        .agree {
            text-align: center;
        }
    </style>
</head>
<body>
    <h3>请认真阅读并理解以下内容，</h3>
    <h4>对于会员的相关定义及权益请着重阅读、慎重考虑。</h4>
    <h5> 本协议是您与贝壳传奇平台（简称"本平台"）所有者（以下简称为"贝壳传奇"）之间就贝壳传奇平台会员所订立的契约。请您仔细阅读本协议，您点击"同意并继续"按钮后，本协议即构成对双方有约束力的法律文件。</h5>
    <h6> 第1条 相关定义</h6>
    <p>
     1.贝壳传奇平台会员：贝壳传奇平台会员是为平台客户打造优惠、折扣、兑换等会员服务，通过提供高品质的客户服务，让客户购物变的更加方便，省钱和放心。<br>
     2.贝壳传奇平台贝壳及红包使用权限：贝壳作为平台易货凭证，使用权为贝壳传奇平台会员，普通用户不可使用贝壳，过期会员须续费才能继续使用贝壳；红包作为电子凭证，平台所有用户皆可使用账户红包。
     <h6>第2条 本平台服务条款的确认和接纳</h6>
     <p> 2.1本平台所提供的贝壳传奇平台会员活动的所有权和运作权归平台所有。<br>
         2.2用户点击同意本协议的，即视为用户确认自己同意接受贝壳传奇平台会员相关服务的条款，且同意按本协议内容履行，如产生用户相关责任的，同意承担相应法律责任。<br>
         2.3如果您在18周岁以下，您只能在父母或监护人的监护参与下方能参与体验该服务。<br>
         2.4平台保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容等相关权利。<br>
         2.5您同意并理解，如贝壳传奇平台会员结束，您如果选择自动续费，您的平台会员资格将自动延期一年。在上述情形下，您授权平台将自动扣除一年期的贝壳传奇平台会员会费。如您不希望自动续费，或者您已具有贝壳传奇平台会员正式资格但不想对贝壳传奇平台会员资格续期，或者您不希望自动扣款，那您请不要勾选自动续费选项。<br>
         2.6 贝壳传奇平台会员开通后，您在已开通的服务期内中途主动取消服务或终止资格的，将不获得为开通本服务而支付费用的退还。<br>
         2.7自动续费服务扣款金额说明：平台根据您的授权，执行扣款指令时，扣款金额以扣款发生时平台页面展示的平台会员服务价格为准。</p>
            
    <h6>第3条 活动资格及活动时间</h6>
    <p>3.1贝壳传奇平台会员活动仅针对消费记录良好且在平台不享受额外折扣或返利的平台个人用户（不包括企业用户、乡村推广员、平台帮、平台联盟等）开放参与资格，用户确认开通
            从会员开通当日起，即享有平台为会员提供的相关活动服务。</p>
    <h6>第4条 会员权益</h6>
    <p>您成为平台正式平台会员后，可享受的权益以平台官方网站公布的信息为准。为更好的向会员提供服务，平台有权基于自身业务发展需要调整全部或部分会员权益。平台就前述权益调整将在相应服务页面进行通知或公告，您可以通过平台官方网站查询最新的会员权益内容。</p>
    <h6>第5条 用户会员使用注意事项</h6> 
    <p>5.1提交申请开通时，用户同意并提交本人手机号码和邮箱等本平台需的个人资料，并保证其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽，用户需承担因此引起的相应责任及后果，并且平台保留终止用户参与该活动的权利。<br>
       5.2服务开通后，用户应谨慎合理的保存、使用其用户名和密码，不得将在本平台注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，同时平台在该种情况下有权做出独立判断，可采取暂停或关闭用户参与资格等措施。<br>
        5.3用户同意，平台拥有通过邮件、短信电话等形式，向其发送相关活动信息等必要信息的权利。<br>
        5.4用户同意，其应合理使用其享有的会员权益，除为实现用户自身的会员利益外，不得利用其享有的权益非法获利，不得以任何形式售卖其所享有的权益，不得滥用其所享有的权益，如因用户不当行为致平台合理怀疑的或判定的，平台有权暂停或关闭用户该活动的权益，此外，用户需承担因此引起的相应责任及后果。</p>     
    <h6>第6条 协议更新及用户关注义务</h6> 
    <p>6.1根据国家法律法规变化及网站运营需要，平台有权以网站公告的方式进行不定期地制定、修改本协议及/或相关服务规则，暂停、取消和修改本协议条款，修改后的协议一旦被公告在本平台上即生效，并代替原来的协议。用户应及时关注不时发布的各项服务规则及本协议的变更。若不同意相关规则及条款修改的，应及时终止与本平台的协议。如用户继续使用本网站提供的服务的，即视为同意更新后的协议。平台建议您在使用本平台之前阅读本协议及本平台的公告。</p>     
    <h6>第7条 法律管辖和适用</h6>
    <p>7.1本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向深圳市福田区人民法院提
            起诉讼。</p>
    <h6>第8条 其他</h6>
    <p>8.1贝壳传奇平台所有者是指在政府部门依法许可或备案的贝壳传奇平台经营主体。<br>
       8.2如因不可抗力或其它本平台无法控制的原因使本平台活动服务无法及时提供或无法按本协议进行的，平台会合理地尽力协助处理善后事宜。<br>
       8.3用户除遵守该用户协议外，仍应同时遵守《平台用户注册协议》。<br>
       8.4正式贝壳传奇平台会员用户自购买之日起开始计算，将自动续期直至用户通知平台不希望续期时为止。<br>
       8.5本协议内容中以黑体、加粗、下划线、斜体等方式显著标识的条款，请用户着重阅读。</p>
    <p class='agree'>我已阅读并同意</p>

</body>
</html>

