<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../commonHead.html %>
        <title>会员中心</title>
        <link rel="stylesheet" href="/css/payback/user_memberv2.css?v20181129">
        <style>
         
        </style>

</head>

<body>
    <div id="app" v-bind:class="{app:iphonex,app1:!iphonex}">
        <% if(login_status == '0') {%>
            <div class="nologin">
                <div class="title" v-if="iphonex"></div> 
                <div class="title" v-else>超级会员</div>
                <div class="headcontain">
                    <div class="header">
                        <img src="/image/newmember/headimg_new.png" alt="">
                    </div>
                    <div class="message">
                        <div class="loginstatus">未登录</div>
                        <div class="logintishi">登录后可享受svip特权</div>
                    </div>
                    <div class="loginbtn" @click="gotologin()">登录</div>

                </div>
            </div>
            <div class="memberlegal">
                <div class="membertitle">会员特权</div>
                <div class="huiyuanquanyi">
                            <div class="sigle">
                                <div class="super common" @click="gotoqy('8')">
                                    <div class="icon supericon1"></div>
                                    <div class="explain">超级会员日</div>
                                    <div class="explainfu">专属购物节</div>
                                </div>
                                <div class="remendermember common" @click="gotoqy('4')">
                                    <div class="icon remendermembericon1"></div>
                                    <div class="explain">邀请得奖励</div>
                                    <div class="explainfu">更高奖励好礼</div>
                                </div>
                                <div class="zanding common" @click="gotoqy('2')">
                                    <div class="icon shengriliquanicon1"></div>
                                    <div class="explain">生日礼包</div>
                                    <div class="explainfu">不一样的礼物</div>
                                </div>
                                <div class="zanding common" @click="gotoqy('3')">
                                    <div class="icon mianyouicon1"></div>
                                    <div class="explain">免邮券</div>
                                    <div class="explainfu">免邮更优惠</div>
                                </div>
                                <div class="placeanorder common" @click="gotoqy('1')">
                                    <div class="icon placeanordericon1"></div>
                                    <div class="explain">赠送礼券</div>
                                    <div class="explainfu">价值399元</div>
                                </div>
                                <div class="sendbeike common" @click="gotoqy('5')">
                                    <div class="icon sendbeike11"></div>
                                    <div class="explain">赠送贝壳</div>
                                    <div class="explainfu">价值1314元</div>
                                </div>

                                <div class="honorable common" @click="gotoqy('6')">
                                    <div class="icon honorableicon1"></div>
                                    <div class="explain">尊贵标识</div>
                                    <div class="explainfu">贵族名片</div>

                                </div>
                                <div class="zanding monthq common" @click="gotoqy('7')">
                                    <div class="icon meiriliquanicon1"></div>
                                    <div class="explain">每月优惠</div>
                                    <div class="explainfu">超值优惠券</div>

                                </div>


                            </div>
                </div>
                <div class="bgc" v-if="bgc"></div>
            </div>
            <%} else if(login_status == '1' && member == '1') {%>
                <div class="usercontain">
                    <div class="cjtitle" v-if="iphonex"></div> 
                    <div class="cjtitle" v-else>超级会员</div> 
                    <div class="usermessage">
                        <div class="head_title">
                                <img onerror='this.src="/image/newmember/headimg_new.png"' src="<%-imagePath%>" class="headimg" />
                                <div class="user_content">
                                        <div class="username_tilte"><span class="usernmae_user"><%=nick_name%></span><span class="year_icon"></span></div>
                                        <div class="user_content_endtime"><%=end_time%>到期</div>
                                        <!-- <div class="goto_remew" @click="gotoorderdetail()">立即续费</div> -->
                                        
                                </div>
                                <!-- <div class="remew">
                                    <span class="remew_titile"  @click="gotorealize('yqhydlq')">立即续费</span>
                                </div> -->
                        </div>
                        <div class="whilebgc"></div>
                        <div class="progressendtime">
                            <div class="left">
                                <% if(level == "1") {%>
                                    <div class="leftnode leftnode1"></div>
                                    <div class='progress' ref="progress">
                                        <div v-bind:style="{width:width}" ref="progressin" class="progressin"></div>
                                    </div>
                                    <div class='rightnode rightnode2'></div>
                                    <%} else if(level == "7") {%>
                                        <div class="leftnode leftnode6"></div>
                                        <div class='progress' ref="progress">
                                            <div v-bind:style="{width:width}" ref="progressin" class="progressin"></div>
                                        </div>
                                        <div class='rightnode rightnode7'></div>
                                        <%}else{%>
                                            <div class="leftnode leftnode<%=level%>"></div>
                                            <div class='progress' ref="progress">
                                                <div v-bind:style="{width:width}" ref="progressin" class="progressin"></div>
                                            </div>
                                            <div class='rightnode rightnode<%=level+1%>'></div>
                                            <%}%>
                                            <div class="growth_value" v-bind:style="{'margin-left':marginLeft}">{{growth_value}}</div>
                                        
                            </div>
                            <div class="endtime" @click="gotogrowthvalue()">
                                查看成长值>
                            </div>
                            
                            

                        </div>
                        <div class="rend">
                            <div class="title">
                                <div>已为您节省(元)</div>
                                <div @click="gotoliquan()">礼券(张)</div>
                                <div @click="gotoliquan()">免邮券(张)</div>
                            </div>
                            <div class="detail">
                                <div>
                                    <%-beike_credit?beike_credit:0%>.00</div>
                                <div>
                                    <%-youhui?youhui:0%></div>
                                <div>
                                    <%-mianyou?mianyou:0%></div>
                            </div>
                        </div>
                        <div class="downpic downpic<%=level%>"></div>
                       
                    </div>
                   

                </div>

                <div class="downcontain">

                    <div class="downsilder">
                        <!-- <div class="ellipse"></div> -->
                        <div class="invio">
                            <div class="invio_sigle">
                                <img src="/image/newmember/zhengpinbapzhang.png" alt="">
                                <div>正品保障</div>
                            </div>
                            <div class="invio_sigle">
                                <img src="/image/newmember/chaozhiyouhui.png" alt="">
                                <div>超值优惠</div>
                            </div>
                            <div class="invio_sigle">
                                <img src="/image/newmember/jisufahuo.png" alt="">
                                <div>急速发货</div>
                            </div>
                            <div class="invio_sigle_end">
                                <img src="/image/newmember/jieshaodejiangli1.png" alt="">
                                <div>介绍得奖励</div>
                            </div>
                        </div>

                        <% } else {%>
                            <div class="nologin">
                                <div class="title" v-if="iphonex"></div>
                                <div class="title" v-else>超级会员</div>
                                <div class="headcontain">
                                    <div class="headerout">
                                        <img onerror='this.src="/image/newmember/headimg_new.png"' src="<%-imagePath%>" />
                                    </div>
                                    <div class="message">
                                        <div class="loginstatus">
                                            <%-nick_name%>
                                        </div>
                                        <div class="logintishi1">您还没有成为超级会员</div>
                                    </div>
                                </div>
                            </div>
                            <div class="memberlegal">
                                <div class="membertitle">会员特权</div>
                                <div class="huiyuanquanyi">
                                    <div class="sigle">
                                        <div class="super common" @click="gotoqy('8')">
                                            <div class="icon supericon1"></div>
                                            <div class="explain">超级会员日</div>
                                            <div class="explainfu">专属购物节</div>
                                        </div>
                                        <div class="remendermember common" @click="gotoqy('4')">
                                            <div class="icon remendermembericon1"></div>
                                            <div class="explain">邀请得奖励</div>
                                            <div class="explainfu">更高奖励好礼</div>
                                        </div>
                                        <div class="zanding common" @click="gotoqy('2')">
                                            <div class="icon shengriliquanicon1"></div>
                                            <div class="explain">生日礼包</div>
                                            <div class="explainfu">不一样的礼物</div>
                                        </div>
                                        <div class="zanding common" @click="gotoqy('3')">
                                            <div class="icon mianyouicon1"></div>
                                            <div class="explain">免邮券</div>
                                            <div class="explainfu">免邮更优惠</div>
                                        </div>
                                        <div class="placeanorder common" @click="gotoqy('1')">
                                            <div class="icon placeanordericon1"></div>
                                            <div class="explain">赠送礼券</div>
                                            <div class="explainfu">价值399元</div>
                                        </div>
                                        <div class="sendbeike common" @click="gotoqy('5')">
                                            <div class="icon sendbeike11"></div>
                                            <div class="explain">赠送贝壳</div>
                                            <div class="explainfu">价值1314元</div>
                                        </div>

                                        <div class="honorable common" @click="gotoqy('6')">
                                            <div class="icon honorableicon1"></div>
                                            <div class="explain">尊贵标识</div>
                                            <div class="explainfu">贵族名片</div>

                                        </div>
                                        <div class="zanding monthq common" @click="gotoqy('7')">
                                            <div class="icon meiriliquanicon1"></div>
                                            <div class="explain">每月优惠</div>
                                            <div class="explainfu">超值优惠券</div>

                                        </div>


                                    </div>

                                </div>
                                <%}%>
                                    <%if(login_status == '1' && member == '1') {%>
                                        <%if(is_closedBeta == "N" || have_next == "N") {%>
                                        
                                        <%} else {%>
                                            <div class="sign_in">
                                                <div class="sign_in_every">
                                                    <div class="left">签到得礼券</div>
                                                    <div class="right" @click="gotocalender()">签到日历<span class="sign_in_right"></span></div>
                                                </div>
                                                <div class="px"></div>
                                                <div class="sign_in_content">
                                                    <div class="sign_in_have" v-if="need_signIn != 0">还签到{{need_signIn}}次</div>
                                                    <div class="sign_in_have" v-else>您已达到本轮签到要求</div>
                                                    <div class="sign_id_get" v-if="need_signIn != 0">即可获得399元礼券一张</div>
                                                    <div class="sign_id_get" v-else>已解锁一张礼券</div>
                                                    <div class='gotosignin' v-if="is_signIn !='Y'" @click="goto_singIn()">立即签到</div>
                                                    <div class='gotosignin_no' v-else @click="goto_singIn()">今日已签</div>
                                                    <!-- <div class='gotosignin_no'><span v-if="is_signIn =='Y'">今日已签</span> <span v-else>今日未签</span> </div> -->
                                                </div>
                                            </div>
                                        <%}%>
                                        <div class="SVIP_title">会员特权</div>
                                        <div class="singIn_tishi" v-if="singIn_tishi">{{sinInTiShi}}</div>   
                                        <div class="huiyuanquanyi">
                                            <div class="sigle">
                                                <div class="super common" @click="gotoqy('8')">
                                                    <div class="icon supericon"></div>
                                                    <div class="explain2">超级会员日</div>
                                                    <div class="explainfu">专属购物节</div>
                                                </div>
                                                <div class="remendermember common" @click="gotoqy('4')">
                                                    <div class="icon remendermembericon"></div>
                                                    <div class="explain2">邀请得奖励</div>
                                                    <div class="explainfu">更高奖励好礼</div>
                                                </div>
                                                <div class="zanding common" @click="gotoqy('2')">
                                                    <div class="icon shengriliquanicon"></div>
                                                    <div class="explain2">生日礼包</div>
                                                    <div class="explainfu">不一样的礼物</div>
                                                </div>
                                                <div class="zanding common" @click="gotoqy('3')">
                                                    <div class="icon mianyouicon"></div>
                                                    <div class="explain2">免邮券</div>
                                                    <div class="explainfu">免邮更优惠</div>
                                                </div>
                                                <div class="placeanorder common" @click="gotoqy('1')">
                                                    <div class="icon placeanordericon"></div>
                                                    <div class="explain2">赠送礼券</div>
                                                    <div class="explainfu">价值399元</div>
                                                </div>
                                                <div class="sendbeike common" @click="gotoqy('5')">
                                                    <div class="icon sendbeike1"></div>
                                                    <div class="explain2">赠送贝壳</div>
                                                    <div class="explainfu">价值1314元</div>
                                                </div>

                                                <div class="honorable common" @click="gotoqy('6')">
                                                    <div class="icon honorableicon"></div>
                                                    <div class="explain2">尊贵标识</div>
                                                    <div class="explainfu">贵族名片</div>

                                                </div>
                                                <div class="zanding monthq common" @click="gotoqy('7')">
                                                    <div class="icon meiriliquanicon"></div>
                                                    <div class="explain2">每月优惠</div>
                                                    <div class="explainfu">超值优惠券</div>

                                                </div>


                                            </div>
                                        </div>
                                        <!-- <div class="gotorecharge public" @click="gotorealize('yqhydlq')">分享会员,最低可得120元红包/人></div> -->
                                        <%}else{%>
                                            <!-- <div class="recharge_select">
                                                <div class="contain">
                                                    <div class="recharge_select_title"></div>
                                                    <div class="recharge_select_detail">
                                                        <div class="left">
                                                            <span class="little">￥</span>
                                                            <span>399</span>
                                                            <span class="little">/</span>
                                                            <span class="little">年</span>
                                                        </div>
                                                        <div class="right">
                                                            <%if(login_status == '1' && member == '0') {%>
                                                                <div class="up1">送 <span style="color:#924410">12</span> 张<span style="color:#924410">399</span>元礼券<span style="color:#924410">1314</span>个贝壳</div>
                                                                <div class="down1">预计为您节省<span style="color:#924410">6120.00</span>元</div>
                                                            <%}else{%>
                                                            <div class="up1">送 <span style="color:#924410">12</span> 张<span style="color:#924410">399</span>元礼券<span style="color:#924410">1314</span>个贝壳</div>
                                                            <div class="down1">预计为您节省<span style="color:#924410">6120.00</span>元</div>
                                                            <%}%>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gotorecharge2" @click="gotoorderdetail()">立即开通,尊享特权 ></div>
                                            </div> -->
                                            <%}%>


                                                            <% if (login_status == '1') {%>
                                                                <div class="singIn_bgc" v-if="signIn == '1'"></div>
                                                                <div class="singIn" v-cloak v-if="signIn == '1'">
                                                                    <div class="singIn"></div>
                                                                    <div class="singIn_send" style="color:#FFFFFF"> 获得399礼券一张</div>
                                                                    <div class="singIn_btn" @click="activateNow()">立即激活</div>
                                                                    <div class="singIn_closebtn" @click="singInclose()"></div>
                                                                </div>
                                                                <div class="singIn_bgc" v-if="endSingIn_tishi"></div>
                                                                <div class="endSingIn_tishi" v-cloak v-if="endSingIn_tishi">
                                                                    <div class="endSingIn_title">温馨提示</div>
                                                                    <div class="endSingIn_content">您当前签到周期内，已成功领取礼包。
                                                                        继续签到，不会计入下次签到的周期。</div>
                                                                    <div class="endSingIn_kx"></div>  
                                                                     <div class="endSingIn_close" @click="endSingInClose()">知道了</div>
                                                                </div>
                                                                
                                                               


                                                                <%} else {%>
                                                                    <div class="backgroundblack" v-if="alert_login != '0'">
                                                                        <div class="alert1">
                                                                            <div class="up">
                                                                                <div class="logintips">提示</div>
                                                                                <div class="agreetit">由于您还未登录账号</div>
                                                                                <div class="agreetit1">请登录后再进行此项操作</div>
                                                                                <div class="know" @click="gotologin()">登录</div>
                                                                            </div>
                                                                            <div class="notloginclose" v-on:click="changeclosestatus('')"></div>
                                                                        </div>

                                                                    </div>
                                                                    <%}%>
                            </div>
                    </div>
                    
                </div>


</body>


<script type="text/javascript">
    function gotosumit(method, obj) {
        if (window.jsObj) {  // Android
            // 传递分享数据
            if (window.jsObj[method]) {
                window.jsObj[method](JSON.stringify(obj));
            }
        } else {    // IOS
            setupWebViewJavascriptBridge(function (bridge) {
                // 传递分享数据
                bridge.callHandler(method, obj);
            });
        }
    }
    new Vue({
        el: "#app",
        data: function () {
            return {
                singIn_tishi:false,
                paymoney: '399',
                member_id: "<%-member_id%>",
                pointdown: false,
                signIn:"0",
                bgc: false,
                need_signIn:"<%=need_signIn%>",
                sinInTiShi:"",
                singStates:"今日未签",
                password: "",
                alert_login: "<%-login_status%>",
                marginLeft: 60,
                level: "<%-level%>",
                is_signIn:"<%-is_signIn%>",
                endSingIn_tishi:false,
                width: 0,
                growth_value: "<%-growth_value%>",
                iphonex:false,
            }
        },
        computed: {
            paymoney: function () {
                return this.month ? 68 : (this.quarter ? 168 : (this.year ? 398 : 8));
            }
        },
        methods: {
            gotocalender:function() {
                gotosumit("gotocalender",{})
            },
            endSingInClose:function() {
               this.endSingIn_tishi = false;
            },
            activateNow:function() {
                this.signIn = "0";
                this.singIn_tishi = true;
                this.sinInTiShi ="激活成功,可在'我的-礼券'查看";
            },
            gotoliquan:function() {
                gotosumit("gotoliquan",{})
            },
            goto_singIn:function() {
                var self = this;
            $.ajax({
                    type: 'POST',
                    url: '/openapi/h5/c/signin',
                    data: {
                        member_coupons_id:"<%=member_coupons_id%>",
                    },
                    success: function (data) {
                        if (data && data.rsp_code == "fail") {
                           self.singIn_tishi = true;
                           self.sinInTiShi = data.error_msg
                        } else {
                            if(data.data.signInDay ==25) {
                                self.signIn = "1";
                                self.need_signIn--;
                                self.is_signIn = "Y";
                            } else if(data.data.signInDay > 25) {
                                self.endSingIn_tishi = true;
                                self.is_signIn = "Y";
                            } else {
                                self.need_signIn--;
                                self.singIn_tishi = true;
                                self.is_signIn = "Y";
                                self.sinInTiShi="您已签到成功，离399礼券更近一步"
                            }
                           
                        }
                    }
                });
            },
            singInclose:function() {
                 this.signIn = 0;
            },
            gotorealize:function(type) {
                gotosumit("torealize1",{type:type})
            },

            changeclosestatus: function () {
                    this.alert_login = '0';
                    this.bgc = false;
            },
            gotoqy: function (type) {
                gotosumit('goromemberqy', { type: type });
            },
            gotologin: function () {
                gotosumit("login", {});
            },
            gotogrowthvalue: function () {
                gotosumit("gotogrowthvalue", {});
            },
            gotoorderdetail: function () {
                if (this.alert_login == 0) return this.alert_login = 1;
                var memberlevel = this.paymoney;
                var obj = {};
                obj.memberlevel = 399;
                gotosumit("gotoorderdetail", obj);
            },
            isiphonex:function() {
                console.log(/iphone/gi.test(navigator.userAgent) && (screen.height == 812 && screen.width == 375))
               return /iphone/gi.test(navigator.userAgent) && (screen.height == 812 && screen.width == 375)
            }
        },
        watch: {
            sinInTiShi:function(current) {
                var self = this;
                if(current != "") {
                   setTimeout(function() {
                       self.sinInTiShi = "";
                       self.singIn_tishi = false;
                   },1500);
                }
            }
        },
        mounted: function () {
            this.iphonex = this.isiphonex();
            <%if (login_status == '1' && member == '1') {%>
                var progresswidth = this.$refs.progress.clientWidth;
                var width = 0;
                switch (this.level) {
                    case "1":
                        width = this.growth_value / 400 * progresswidth;
                        break;
                    case "2":
                        width = (this.growth_value - 400) / (1000 - 400) * progresswidth;
                        break;
                    case "3":
                        width = (this.growth_value - 1000) / (2000 - 1000) * progresswidth;
                        break;
                    case "4":
                        width = (this.growth_value - 2000) / (5000 - 2000) * progresswidth;
                        break;
                    case "5":
                        width = (this.growth_value - 5000) / (10000 - 5000) * progresswidth;
                        break;
                    case "6":
                        width = (this.growth_value - 10000) / (20000 - 10000) * progresswidth;
                        break;
                    case "7":
                        width = this.growth_value / 20000 * progresswidth;
                        break;
                }
                var self = this;
                var WD = 0;
                var timer = setInterval(function () {
                    if (
                        (self.level == '2' && self.growth_value == "400") ||
                        (self.level == '3' && self.growth_value == "1000") ||
                        (self.level == '4' && self.growth_value == "2000") ||
                        (self.level == '5' && self.growth_value == "5000") ||
                        (self.level == '6' && self.growth_value == "10000") ||
                        (self.level == '7' && self.growth_value == "20000") ||
                        (self.level == '1' && self.growth_value == "0")) {
                        self.width += WD + "px";
                        clearInterval(timer);
                        return;
                    }
                    if (WD > width) {
                        WD += 20;
                        self.width += WD + "px";
                        self.marginLeft += WD+25+"px";
                        clearInterval(timer);
                    } else {
                        WD += 20;
                        self.width = WD+ "px";
                        self.marginLeft = WD+25+"px";

                    }

                }, 40)
                    <%}%>
          
        }
    })
        <% if (login_status == '1' && member == '1') {%>
            var _sroll = document.querySelector('.downsilder');
            var scrollheight = $(".downcontain").offset().top;
            var outscroll = document.querySelector('.downcontain');
            var _star = 0;
            _sroll.addEventListener('touchstart', function (event) {
                var _touch = event.touches[0];
                _star = _touch.pageY;
            }, false);
            //获取滑动的距离，添加一个触摸滑动的监听事件
            _sroll.addEventListener('touchmove', function (event) {
                //获取手指数组中的第一个（可以用targetTouches）

                var _touch = event.touches[0], height;
                if (_touch.pageY - _star > 70) {
                    _sroll.style.top = 70 + 'px';
                } else if (_touch.pageY - _star < 0) {
                    _sroll.style.top = 0 + 'px';
                } else {
                    _sroll.style.top = _touch.pageY - _star + 'px';
                }

            }, false);
            //添加屏幕触摸接触结束的事件
            _sroll.addEventListener('touchend', function (event) {
                _star = 0;
                var time = setInterval(function () {
                    _sroll.style.top = _star + "px";
                    clearInterval(time);
                }, 2);
            }, false);

  <%}%>



</script>

</html>