{{# layui.each(d.goodsData, function (index, item) { }}
	<tr item='{{ JSON.stringify(item) }}'>
		<td>
            {{# if (item.pic_info) { }}
               <img src="{{d.imgUrl + '/' + item.pic_info}}" width="90" height="90">
            {{# } else { }}
               <img src="../../images/default_img.png" width="90" height="90">
            {{# } }}
		</td>
		<td>{{ item.goods_id }}</td>
		<td>{{ item.goods_code }}</td>
		<td>{{ item.title }}</td>
		<td>{{ item.sale_price }}</td>
		<td>{{ item.vip_price }}</td>
		<td>{{ item.beike_credit }} </td>
		<td>{{ item.store }} </td>
		<td>
			{{# if (item.label == 0) { }}
			    否
			{{# } else { }}
		     	{{ item.label_promotion }}
			{{# } }}
		</td>
		<td>
			{{# layui.each(item.service_level, function (i, service) { }}
			   <p>{{ service }}</p>
			{{# }) }}
		</td>
		<td>{{ item.created_date }}</td>
		<td>{{ item.stores_name }}</td>
		


		<td>
            {{# if (item.status == 'violation') { }}
               审核未通过
		    {{# } else if (item.status == 'suspend' || item.status == 'checked_online') { }}
		       待审核
            {{# } else { }}
               审核通过
            {{# } }}
	    </td>


		<td>
		    <p class="td_text">
		   	    {{ item.remark }}
		    </p>
		</td>
		<td>
		    <input type="button" class="layui-btn layui-btn-xs detail_btn" value="查看">
			<a href="./goodsVerifyDetail.html"  class="layui-btn layui-btn-xs change_page_btn"  style="display:none;">
				<span>查看</span>
			</a>
		</td>
	</tr>
{{# }) }}



{{# if (d.goodsData.length == 0) { }}
    <tr>
    	<td colspan="15">没有数据</td>
    </tr>
{{# } }}


 