body {
	background-color: #f4f4f4;
	position: relative;
}
header{
	width: 100%;
	height: 1.173333rem;
	position:fixed;
	top: 0;
	z-index: 9;
	background-color: #ffffff;
	border-bottom: 1px solid #f4f4f4;
}
.mb-comment {
	margin-bottom: 1.6rem;
}
.head-wrap{
	line-height: 1.173333rem;
	width: 9.466667rem;
	margin:0 auto;
}
.head-wrap .icon-whole{
	color: #333333;
	background-image: url(/image/community/head-qb1.png);
	background-repeat: no-repeat;
	background-size: 0.2rem 0.093333rem;
	background-position: right center;
	width: 1.333333rem;
	height: 1.173333rem;
	float: left;
}
.head-wrap .icon-return{
	width: 1.333333rem;
	height: 1.173333rem;
	background-image: url(/image/community/icon-return.png);
	background-size: 0.213333rem 0.373333rem;
	background-repeat: no-repeat;
	background-position: left center;
	float: left;
}
.head-wrap .no-icon {
	background: none;
}
.head-wrap .icon-close {
	width: 1.333333rem;
	height: 1.173333rem;
	background-image: url(/image/community/icon-close.png);
	background-size: 0.48rem 0.493333rem;
	background-repeat: no-repeat;
	background-position: right center;
	float: left;
}
.head-wrap .icon-bg-left {
	background-position: left center !important;
}
.head-wrap .title{
	width: 6.666667rem;
	float: left;
	text-align: center;
	line-height: 1.173333rem;
	color: #333333;
}
[data-dpr="1"] .head-wrap .title{
    font-size: 18px;
}
[data-dpr="2"] .head-wrap .title{
    font-size: 36px;
}
[data-dpr="3"] .head-wrap .title{
    font-size: 54px;
}
.head-wrap .icon-whole-bj{
	color: #333333;
	background-image: url(/image/community/head-qb2.png);
	background-repeat: no-repeat;
	background-size: 0.2rem 0.093333rem;
	background-position: right center;
	width: 1.333333rem;
	height: 1.173333rem;
	float: left;
}
[data-dpr="1"] .head-wrap .icon-whole{
    font-size: 18px;
}
[data-dpr="2"] .head-wrap .icon-whole{
    font-size: 36px;
}
[data-dpr="3"] .head-wrap .icon-whole{
    font-size: 54px;
}
.head-wrap .fr {
	width: 1.333333rem;
	height:1.173333rem;
	float: right;
	margin-right: 0.133333rem;
	text-align: right;
	color: #333;
}
[data-dpr="1"] .head-wrap .fr {
	font-size: 16px;
}
[data-dpr="2"] .head-wrap .fr {
	font-size: 32px;
}
[data-dpr="3"] .head-wrap .fr {
	font-size: 48px;
}
.head-wrap .icon-mine{
	width: 0.8rem;
	height: 0.8rem;
	background-color: #f4f4f4;
	border-radius: 50%;
	background-image: url(/image/community/head-default.png);
	background-repeat: no-repeat;
	background-size: 0.573333rem 0.48rem;
	background-position: center center;
	margin-top: 0.186667rem;
	overflow: hidden;
}
.head-wrap .icon-mine img {
	width: 0.8rem;
	height: 0.8rem;
}
.icon-sort{
	width: 10.0rem;
	overflow: hidden;
	background-color: #f2f3f3;
	position: absolute;
	top: 1.173333rem;
	left: 50%;
    margin-left: -5rem;
	display: none;
	z-index: 9;
}
.icon-sort li{
	margin:0.866667rem 0.333333rem;
	float: left;
	width: 1.333333rem;
	text-align: center;
}
.icon-sort li a{
	display: block;
}
.icon-sort li em{
	border:solid 1px #999;
	width: 1.306667rem;
	height: 1.306667rem;
	border-radius: 1.333333rem;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-sort li p{
	color: #333333;
	margin-top: 0.24rem;
}
[data-dpr="1"] .icon-sort li p{
    font-size: 12px;
}
[data-dpr="2"] .icon-sort li p{
    font-size: 24px;
}
[data-dpr="3"] .icon-sort li p{
    font-size: 36px;
}
.icon-sort li.sel em{
	background-color: #ff4242;
	border:solid 0.026667rem #ff4242;
}
.icon-sort li em.icon-qb{
	background-image: url(/image/community/icon-qb.png);
	background-size: 0.56rem 0.493333rem;
}
.icon-sort li.sel em.icon-qb{
	background-image: url(/image/community/icon-qb2.png);
	background-size: 0.56rem 0.493333rem;
}
.icon-sort li em.icon-shq{
	background-image: url(/image/community/icon-shq.png);
	background-size: 0.453333rem 0.506667rem;
}
.icon-sort li.sel em.icon-shq{
	background-image: url(/image/community/icon-shq2.png);
	background-size: 0.453333rem 0.506667rem;
}
.icon-sort li em.icon-gzq{
	background-image: url(/image/community/icon-gzq.png);
	background-size: 0.52rem 0.493333rem;
}
.icon-sort li.sel em.icon-gzq{
	background-image: url(/image/community/icon-gzq2.png);
	background-size: 0.52rem 0.493333rem;
}
.icon-sort li em.icon-jxq{
	background-image: url(/image/community/icon-jxq.png);
	background-size: 0.68rem 0.493333rem;
}
.icon-sort li.sel em.icon-jxq{
	background-image: url(/image/community/icon-jxq2.png);
	background-size: 0.68rem 0.493333rem;
}
.icon-sort li em.icon-xqq{
	background-image: url(/image/community/icon-xqq.png);
	background-size: 0.533333rem 0.52rem;
}
.icon-sort li.sel em.icon-xqq{
	background-image: url(/image/community/icon-xqq2.png);
	background-size: 0.533333rem 0.52rem;
}

.content-wrap {
    overflow: hidden;
    width: 10.0rem;
    margin: 1.173333rem auto 0;
}

/* 首页列表 */
.article-wrap {
	width: 10rem;
	margin: 0 auto;
	overflow: hidden;
}
.mt88 {
	margin-top: 1.173333rem;
}
.article-wrap .article-box {
	padding: 0 0.333333rem;
	overflow: hidden;
	background-color: #fff;
	color: #333;
	margin-bottom: 0.213333rem;
	display: block;
	font-weight: 300;
}
.article-wrap .article-box .top {
	height: 1.6rem;
}
.article-wrap .article-box .top .face-icon {
	float: left;
	height: 1.6rem;
	background: url(/image/community/icon-tx.png) center center no-repeat;
	background-size: 1.066667rem 1.066667rem;
}
.article-wrap .article-box .top .face-icon img {
	width: 1.066667rem;
	height: 1.066667rem;
	border-radius: 50%;
	margin-top: 0.266667rem;
}
.article-wrap .article-box .top .name-addr {
	float: left;
	height: 1.6rem;
	padding-left: 0.266667rem;
}
.article-wrap .article-box .top .name-addr .name {
	width: 7.6rem;
	height: 0.453333rem;
	line-height: 0.453333rem;
	font-size: 0.426667rem;
	margin-top: 0.373333rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.article-wrap .article-box .top .name-addr .name-mid {
	height: 1.6rem;
	line-height: 1.6rem;
	margin-top: 0;
}
.article-wrap .article-box .top .name-addr .addr {
	width: 7.333333rem;
	height: 0.346667rem;
	line-height: 0.346667rem;
	color: #666;
	font-size: 0.32rem;
	margin-top: 0.133333rem;
	background: url(/image/community/loc.png) 0.013333rem center no-repeat;
	background-size: 0.213333rem 0.266667rem;
	padding-left: 0.32rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.article-wrap .article-box .text .title {
	font-size: 0.48rem;
	line-height: 0.613333rem;
}
.article-wrap .article-box .text .content {
	font-size: 0.373333rem;
	line-height: 0.56rem;
	color: #666;
	margin-top: 0.133333rem;
	overflow: hidden;
}
.article-wrap .article-box .img {
	width: 100%;
	height: 5.226667rem;
	margin-top: 0.266667rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.article-wrap .article-box .bottom {
	height: 1.333333rem;
	font-size: 0.32rem;
	color: #999;
}
.article-wrap .article-box .bottom .statistics {
	float: left;
	line-height: 1.333333rem;
	padding-right: 0.64rem;
}
.article-wrap .article-box .bottom .like {
	background: url(/image/community/like.png) left center no-repeat;
	background-size: 0.546667rem 0.493333rem;
	padding-left: 0.653333rem;
}
.article-wrap .article-box .bottom .comment {
	background: url(/image/community/comment.png) left center no-repeat;
	background-size: 0.533333rem; 0.466667rem;
	padding-left: 0.64rem;
}
.article-wrap .article-box .bottom .view {
	background: url(/image/community/view.png) left center no-repeat;
	background-size: 0.64rem 0.346667rem;
	padding-left: 0.746667rem;
}
.article-wrap .article-box .bottom .time {
	float: right;
	line-height: 1.333333rem;
}

/**/
.icon-bottom{
	position:fixed;
	bottom: 2.0rem;
	right: 50%;
	margin-right: -5rem;
	height:1.6rem;
	z-index: 9;
}
.icon-bottom .icon-share{
	float: left;
	display: none;
}
.icon-bottom .icon-share li{
	float: left;
	height:1.6rem;
	width: 1.6rem;
	border-radius: 1.6rem;
	background: #ffffff;
	text-align: center;
	margin-right: 0.266667rem;
	line-height:2.266667rem;
}
[data-dpr="1"] .icon-bottom .icon-share li {
	border: 1px solid #f4f4f4;
}
[data-dpr="2"] .icon-bottom .icon-share li {
	border: 2px solid #f4f4f4;
}
[data-dpr="3"] .icon-bottom .icon-share li {
	border: 3px solid #f4f4f4;
}
.icon-bottom .icon-share li:nth-child(1){
	background-image: url(/image/community/icon-fx.png);
	background-repeat: no-repeat;
	background-size: 0.453333rem 0.44rem;
	background-position: center 0.426667rem;
}
.icon-bottom .icon-share li:nth-child(2){
	background-image: url(/image/community/icon-ht.png);
	background-repeat: no-repeat;
	background-size: 0.533333rem 0.52rem;
	background-position: center 0.346667rem;
}
.icon-bottom .icon-share li:nth-child(3){
	background-image: url(/image/community/icon-qd.png);
	background-repeat: no-repeat;
	background-size: 0.426667rem 0.373333rem;
	background-position: center 0.426667rem;
}
.icon-bottom .icon-share li a{
	color: #333333;
	display: block;
	width: 100%;
	height: 1.6rem;
}
[data-dpr="1"] .icon-bottom .icon-share li a{
    font-size: 12px;
}
[data-dpr="2"] .icon-bottom .icon-share li a{
    font-size: 24px;
}
[data-dpr="3"] .icon-bottom .icon-share li a{
    font-size: 36px;
}
.icon-bottom .icon-create{
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 1.6rem;
	background: url(/image/community/icon-create.png) #ff4242;
	background-size: 0.746667rem 0.746667rem;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	margin-right: 0.666667rem;
	opacity: 0.8;
}
.icon-bottom .icon-create-bj{
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 1.6rem;
	background: url(/image/community/icon-out.png) #ff4242;
	background-size: 0.533333rem 0.533333rem;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
}

.err-wrap {
	text-align: center;
	padding-top: 2.666667rem;
}
.err-wrap .msg {
	color: #666;
	margin-top: 0.666667rem;
	margin-bottom: 0.4rem;
}
[data-dpr="1"] .err-wrap .msg {
	font-size: 18px;
	line-height: 24px;
}
[data-dpr="2"] .err-wrap .msg {
	font-size: 36px;
	line-height: 48px;
}
[data-dpr="3"] .err-wrap .msg {
	font-size: 54px;
	line-height: 72px;
}

@keyframes rotateLeft45 {
	from {transform: rotate(0deg);}
	to {transform: rotate(-45deg);}
}
@keyframes rotateRight45 {
	from {transform: rotate(-45deg);}
	to {transform: rotate(0deg);}
}
.rotate-left {
	animation: rotateLeft45 0.2s linear 0s 1 forwards;
}
.rotate-right {
	animation: rotateRight45 0.2s linear 0s 1 forwards;
}
.fadeInRight {
	animation-duration: 0.5s;
}
.mt0 {
	margin-top: 0 !important;
}

/* Styles for Tip */
.__tip-wrap__ {
	width: 100%;
	position: fixed;
	/* top: -6.666667rem; */
	top: 0;
	left: 0;
	line-height: 0.64rem;
	z-index: 99999;
	animation: slidedown 3s;
	box-shadow: rgba(0, 0, 0, 0.15) 0 0.066667rem 0.133333rem;
}
.__tip-wrap__.info {
	background-color: #D9EDF7 !important;
}
.__tip-wrap__.success {
	background-color: #dff0d8 !important;
}
.__tip-wrap__.warning {
	background-color: #fcf8e3 !important;
}
.__tip-wrap__.danger {
	background-color: #f2dede !important;
}
.__tip-msg__ {
	padding: 0.4rem 0.266667rem;
	color: #333;
	font-size: 0.426667rem;
	text-align: center;
}
@keyframes slidedown {
	80% {top: 0;}
	100% {top: -2rem; display: none;}
}